& {
    background-color: #181e25;
    font-family: 'Hind', sans-serif;
    footer {
        #mchp-contacto {
            input,
            textarea {
                width: 100%;
                padding: 7px 15px;
                color: #000;
                border: #000 solid 1px;
                border-radius: 3px;
            }
        }
    }
}