& {
    background-color: #181e25;
    font-family: 'Quicksand', sans-serif;
    header {
        position: fixed;
        width: 100%;
        padding: 7px 15px;
        background: #45b1e1;
        color: #000;
        span {
            font-family: 'Oswald', sans-serif;
        }
    }
}