@import "resources/css3_mixins";
@import "fonts";
body {
    & {
        margin: 0;
        padding: 0;
    }
    * {
        &,
        &::before,
        &::after {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            font-size: 10pt;
        }
        font-family: 'Hind',
        sans-serif;
    }
    & {
        background-image: url(../images/bk.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .search-google {
        width: 100%;
        max-width: 350px;
        input {
            width: 100%;
            padding: 10px 15px;
            @include css3-prefix(border-radius, 100px);
            &,
            &:focus,
            &:hover {
                border: none;
                outline: none;
            }
        }
    }
}