@import "resources/css3_mixins";
body {
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 10pt;
}

.pixel {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.pixel p.font1 {
    font-family: 'Great Vibes', cursive;
}

.pixel p.font2 {
    font-family: 'Oxygen', sans-serif;
}

#instruction {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 27, 27, 0.596);
    z-index: 9999;
    .center {
        display: block;
        width: 1px;
        height: 1px;
        top: 50%;
        position: absolute;
        left: 50%;
        .box-instruction {
            background-color: #ffffff;
            border-radius: 8px;
            width: 300px;
            height: 462px;
            padding: 15px 20px;
            position: relative;
            left: -150px;
            top: -231px;
            * {
                font-size: 16px;
                font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
            }
            ol,
            ul {
                margin: 0;
                padding: 0 0 0 15px;
                li {
                    line-height: 1.5em;
                    font-size: 15px;
                    padding: 0px 1px 3px 1px;
                    &::marker {
                        font-size: 15px;
                        color: #0099DD;
                        font-weight: bold;
                    }
                }
            }
            #btnContinuar {
                margin: 4px 0;
            }
        }
    }
}

#myCanvas {
    margin: 15px auto;
    display: block;
    border-radius: 800px;
    outline: rgb(175, 175, 175) 1px solid;
}

.style-form {
    padding: 0 19px;
}

.content-field {
    width: 100%;
    max-width: 500px;
    margin: 15px auto 0 auto;
    display: block;
    padding: 15px 10px 0 10px;
}

.content-field * {
    font-family: 'Oxygen', sans-serif;
}

.content-field .form {
    display: block;
    width: 100%;
    padding: 15px 7px;
    border: 1px solid rgb(199, 199, 199);
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: 1px 1px 17px 0px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 1px 1px 17px 0px rgba(0, 0, 0, 0.28);
}

.content-field label {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    font-size: 15px;
    font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
}

.loading {
    * {
        opacity: 0;
    }
}

#contenainer-style-background {
    display: table;
    table-layout: fixed;
    width: 130px;
    span {
        display: table-cell;
        width: 50%;
        word-break: break-all;
        word-wrap: break-word;
        overflow-wrap: break-word;
        hyphens: auto;
        margin: 0;
        padding: 0px;
        word-break: normal;
        vertical-align: bottom;
        text-align: center;
        background-position: center top;
        width: 60px;
        height: 60px;
        background-repeat: no-repeat;
        background-size: 50% auto;
        font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
        cursor: pointer;
        &.ave {
            background-image: url(../images/tumb-ave.png);
        }
        &.flor {
            background-image: url(../images/tumb-flor.png);
        }
    }
    label {
        display: table-caption;
        width: 100%;
    }
}

.content-field input[type="text"] {
    display: block;
    width: 100%;
    margin-bottom: 0px;
    padding: 15px;
    font-size: 15px;
}

.content-field input[type="text"],
.content-field input[type="text"]:focus,
.content-field input[type="text"]:hover {
    outline: none;
}

.ui-widget-header {
    background-image: none;
    background-color: rgb(42, 146, 10)!important;
}

.ui-slider-horizontal .ui-slider-range {
    background-color: rgb(42, 146, 10)!important;
}

.ui-state-active {
    background-color: #c85000!important;
    border-color: #c85000!important;
}

#slider-vertical-nombre,
#slider-vertical-frase {
    width: 60%;
}

.content-field p {
    margin: 25px 0 0 0;
    padding: 0;
}

.content-field p label {
    margin: 7px 0x;
    padding: 0;
}

@media all and (max-width:600px) {
    #myCanvas {
        zoom: 50%;
    }
    #slider-vertical-nombre,
    #slider-vertical-frase {
        width: 60%;
    }
}

h1 {
    text-align: center;
    color: #0099DD;
    font-size: 21px!important;
    margin: 5px 0;
    padding: 0 15px;
}

strong {
    color: #038C7F;
    margin: 0 7px 0 0;
    font-size: 18px;
}


/*
.button:hover,
.button:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button:hover {
    transform: translateY(-1px);
}

.button:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}
*/

.contact {
    font-size: 15px;
    text-align: center;
    display: block;
    padding: 30px 15px 15px 15px;
}

.show {
    display: block!important;
}

.btn {
    & {
        background-color: initial;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
        font-size: 15px;
        height: 44px;
        line-height: 44px;
        outline: 0;
        overflow: hidden;
        padding: 0 7px;
        pointer-events: auto;
        position: relative;
        text-align: center;
        touch-action: manipulation;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: top;
        white-space: nowrap;
        width: 100%;
        z-index: 9;
        border: 0;
    }
    &.blue {
        background-image: linear-gradient(-180deg, #0095ff, #0968ac);
        &:hover {
            background: #0968ac;
        }
    }
    &.orange {
        background-image: linear-gradient(-180deg, #fa6400, #b84f09);
        &:hover {
            background: #b84f09;
        }
    }
    &.gray {
        background-image: linear-gradient(-180deg, #F3F4F6, #d6d6d6);
        color: #3b3b3b;
        &:hover {
            background-image: linear-gradient(-180deg, #0095ff, #0968ac);
            color: #ffffff;
        }
    }
}

.content-canvas {
    //outline: red 1px solid;
    max-width: 660px;
    width: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
    #contenainer-position-nombre,
    #contenainer-position-frase {
        display: none;
        position: absolute;
        top: 2%;
        right: 8px;
        height: 96%;
        @media all and (max-width: 600px) {
            right: 17px;
        }
        .ui-slider {
            height: 100%;
        }
    }
}

.calltoaction {
    display: none;
    width: 100%;
    .two-col {
        display: table;
        table-layout: fixed;
        width: 100%;
        .col {
            display: table-cell;
            width: 50%;
            word-break: break-all;
            word-wrap: break-word;
            overflow-wrap: break-word;
            hyphens: auto;
            margin: 0;
            padding: 0px;
            word-break: normal;
            vertical-align: middle;
        }
    }
}

.box {
    width: 100%;
    display: block;
    .col {
        display: none;
        width: 100%;
    }
}

.button-content {
    display: block;
    width: 100%;
    padding: 0 7px;
}

#btnDescargar {
    margin-top: 20px;
}