// COLORS
$ANSOrange : #ff8300;
$ANSRed:#c90e0e;
$ANSForestGreen:#06511F;
$ANSCadmiumGreen: #026937;
$ANSLaSalleGreen:#007934;
$ANDAppleGreen: #80BC00;
$ANSTextColor: #4e4a4a;
$ANSLapisLazuli:#19619c;
$LineColorTable: #cfe6fc;
$LineConector: #ff8300;

// END COLORS