body,
html {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px 0 0 0;
}

*,
 ::after,
 ::before {
    box-sizing: border-box;
}

svg {
    // outline: 1px solid #000;
    //width: 80%;
    //height: auto;
}

.marck-script-regular {
    font-family: "Marck Script", cursive;
    font-weight: 400;
    font-style: normal;
}

[class*="btn"] {
    & {
        border-radius: 6px;
        display: inline-block;
        cursor: pointer;
        font-size: 10px;
        font-weight: bold;
        padding: 7px 15px;
        text-decoration: none;
        font-family: Arial;
        width: 100%;
    }
    &:active {
        position: relative;
        top: 1px;
    }
    .btnGrey {
        box-shadow: inset 0px 1px 0px 0px #ffffff;
        background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
        background-color: #ededed;
        border: 1px solid #dcdcdc;
        color: #777777;
        text-decoration: none;
        text-shadow: 0px 1px 0px #ffffff;
        &:hover {
            background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
            background-color: #dfdfdf;
        }
    }
    &.btnBlue {
        box-shadow: inset 0px 1px 0px 0px #97c4fe;
        background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
        background-color: #3d94f6;
        border: 1px solid #337fed;
        text-shadow: 0px 1px 0px #1570cd;
        color: #ffffff;
        &:hover {
            background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
            background-color: #1e62d0;
        }
    }
}

table {
    width: calc(215.9mm - 20mm);
    height: calc(139.7mm - 20mm);
    &.tg {
        border-collapse: collapse;
        border-spacing: 0;
        td {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            font-family: Arial, sans-serif;
            font-size: 14px;
            overflow: hidden;
            padding: 10px 5px;
            word-break: normal;
            #content_svg {
                text-align: center;
            }
        }
        th {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            overflow: hidden;
            padding: 10px 5px;
            word-break: normal;
        }
        .tg-0pky {
            & {
                border-color: inherit;
                text-align: left;
                vertical-align: top;
                width: 14.28571428%;
            }
            &.no-padding {
                padding: 15px 0 7px 0!important;
            }
            span {
                display: block;
                width: 100%;
                padding: 0;
                text-align: center;
                &.title {
                    font-weight: bold;
                }
                &.value {
                    & {
                        font-size: 20px;
                        text-align: center;
                        height: 40px;
                        padding: 0 19px 0 0;
                        position: relative;
                        &::after {
                            content: "cm";
                            position: absolute;
                            bottom: 9px;
                            right: 0;
                            font-size: 0.7em;
                            color: rgba(28, 76, 143, 0.604);
                            font-weight: 600;
                        }
                    }
                    [type="text"] {
                        font-size: 21px;
                        height: 40px;
                        display: block;
                        width: 100%;
                        border: none;
                        text-align: right;
                        font-weight: 700;
                        color: #1c4c8f;
                        background-color: transparent;
                        &::-webkit-input-placeholder {
                            /* Chrome/Opera/Safari */
                            color: rgba(28, 76, 143, 0.3);
                        }
                        &::-moz-placeholder {
                            /* Firefox 19+ */
                            color: rgba(28, 76, 143, 0.3);
                        }
                        &:-ms-input-placeholder {
                            /* IE 10+ */
                            color: rgba(28, 76, 143, 0.3);
                        }
                        &:-moz-placeholder {
                            /* Firefox 18- */
                            color: rgba(28, 76, 143, 0.3);
                        }
                        &:hover,
                        &:active,
                        &:focus {
                            border: none;
                            outline: none;
                        }
                    }
                }
            }
        }
        ._100percentage_ {
            width: 100%;
        }
    }
}

@page {
    size: 8.5in, 11in;
    //size: 8, 5.5in;
    padding: 0;
    margin: 0;
}

@media screen {
    &.value {
        div {
            display: none;
        }
    }
}

@media print {
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
        color-adjust: exact
    }
    table {
        outline: 1px solid #000!important;
    }
    tbody {
        td,
        th,
        tr {
            border-color: transparent!important;
            outline: none!important;
        }
    }
    .hidde-print {
        display: none!important;
    }
    &.value {
        padding: 0!important;
        &::after {
            display: none;
        }
        div {
            display: block;
            width: 100%;
            padding: 7px 0;
            margin-bottom: 15px;
            color: #1c4c8f;
            font-weight: 600;
            text-align: center;
            sub {
                color: #3b6aad;
            }
        }
    }
    body {
        background: white!important;
    }
    /* html,
    body {
        width: 215.9mm;
        height: 139.7mm;
    }*/
    .page-break {
        display: block;
        page-break-before: always;
        break-before: page;
    }
}