@use "sass:color";
@use "sass:list";
@use "mixin" as *;
@use "grid" as *;
@use "iconos";
@use "print";

@use "dynamicTable";
@use "checkbox";
@use "material_design";

html,
body {
    margin: 0;
    padding: 0;

}

/*
.not-padding-x {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
*/
.not-margin-x {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.padding-right-30px {
    padding-right: 30px;
}

* .text-align {
    &-center {
        text-align: center
    }

    &-left {
        text-align: left
    }

    &-right {
        text-align: right
    }
}

.container-amounts {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    padding: 0 5px;

    span {
        font-size: 0.6em;
        flex: 1 0 0%;
        text-align: right;

        &.label {
            border-right: 1px solid #000;
            padding-right: 3px;
        }

        &.amount {

            //border-bottom: 1px solid #000;
            max-width: 86px;
        }
    }

    &.amoutn_others {
        .amount {
            padding: 0 0 0 5px;
        }

        input {
            @include css3-prefix('appearance', none);
            border: 1px solid #787777;
            outline: none;
            display: block;
            width: 100%;
            text-align: right;
        }
    }

    &:not(.black) {
        span {
            line-height: 1.1em;
        }
    }

    &.black {

        color: #000000;
        // background-color: #026937;
        border-top: 1px solid #000;
        font-weight: bold;

        span {
            padding-top: 3px;
            padding-bottom: 3px;
        }
    }

    &.grand_total {
        width: 100%;
        /*
                                background-color: #d4cbea;
                                color: #026937;*/


        padding: 0;
        font-size: 1em;



        &.green {
            margin-top: 3px;
            color: #fff;
            background-color: #026937;

            span {
                font-size: 1em;
                padding: 4px 0;
                border: none;
            }
        }

        span {




            border-bottom: none;
            max-width: unset;
            padding: 0 5px;
            font-weight: 500;
        }

    }
}

body {
    @media screen and (min-width: 576px) and (min-height:589px) {
        height: 100lvh;
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    * {
        @include css3-prefix('user-select', none);

        input:read-only {
            @include css3-prefix('user-select', none);

            cursor: default;

        }
    }

    .hide {
        display: none !important;

    }
}

@media screen {

    body {
        & {
            position: relative;
            background-attachment: fixed;
            background: #63529d;
            background: linear-gradient(90deg, #63529d 0%, #9a4db8 56%, #63529d 100%);

            display: flex;

            flex-wrap: wrap;
            justify-content: center;
        }



        .max-width-200px {
            max-width: 200px;
            min-width: 200px;
        }

        .max-width-80px {
            @media (max-width: 575px) {
                flex: 0 0 80px;
                max-width: 80px;
            }

            @media (min-width: 576px) {
                max-width: 80px;
            }
        }

        .max-width-150px {
            @media (max-width: 575px) {
                flex: 0 0 auto;
                max-width: calc(100% - 80px);
            }

            @media (min-width: 576px) {
                max-width: 150px;
            }
        }




        .max-width-300px {
            @media (min-width: 576px) {
                max-width: 300px;
            }
        }

        .max-width-165px {


            @media (min-width: 576px) {
                max-width: 165px;
            }
        }

        .max-width-290px {

            @media (min-width: 576px) {
                max-width: 290px;
                width: 290px;
            }
        }

        .show-mobile {
            display: none;
            background-color: #42257a;
            position: sticky;
            top: 0;
            z-index: 999;

            svg {
                width: 100%;
                margin: 0 auto;
            }

            @media screen and (max-width:575px) {
                display: block;
            }
        }

        .header-svg {
            display: block;
            width: 100%;
            height: auto;
            max-width: 350px;

            path[aria-label*="sede-"] {
                display: none;
            }
        }



        &.sede-leo svg.header-svg path[aria-label*="sede-leo"] {
            display: block;
        }

        &.sede-est svg.header-svg path[aria-label*="sede-est"] {
            display: block;
        }

        &.sede-sjs svg.header-svg path[aria-label*="sede-sjs"] {
            display: block;
        }

        .height-100 {
            height: 100%;
        }

        .height-230 {
            height: 230px;
        }

        .height-212 {
            height: 212px;
        }



        .form-receipt {
            max-width: 1000px;
            width: 100%;


            background-color: #d4cbea;

            header {
                margin: 0;

                background: color.adjust($barColor, $lightness: -5%);
                padding: 4px 0;

                @media screen and (max-width:575px) {
                    .header-svg {
                        display: none !important;
                    }
                }

                .roc {
                    position: relative;
                    cursor: pointer;


                    &::before {
                        pointer-events: none;
                        @include transition(opacity 0.3s ease-in-out);
                        opacity: 0;
                        content: "CAMBIAR #RECIBO";

                        position: absolute;
                        height: 100%;
                        width: 100%;
                        @include css3-prefix('border-radius', $BorderRadiusButtons);
                        bottom: 0;
                        left: 0;
                        display: flex;
                        justify-content: center;
                        /* Centra horizontalmente */
                        align-items: center;
                        /* Centra verticalmente */

                        background-color: #f9bd0e;
                        color: #42257a;
                        font-weight: bold;
                        text-align: center;
                        font-size: 1em;
                        cursor: pointer;

                        padding: 2px 0px;

                    }

                    &:hover {
                        &::before {
                            opacity: 1;
                        }
                    }


                }

                .content-date-time {
                    position: relative;





                }

                .roc,
                .content-date-time {
                    label {
                        color: #fff;
                        font-weight: bold;
                        text-align: center;
                        font-size: 1em;
                        display: block;
                        width: 100%;
                    }

                    input,
                    textarea {
                        display: block;
                        width: 100%;
                        font-family: 'Courier New', Courier, monospace;
                        background-color: transparent;
                        @include css3-prefix('appearance', none);
                        color: $ColorYellow;
                        text-align: center;

                        font-weight: bold;
                        padding: 6px 0;
                        height: 27px;
                        overflow: hidden;
                        min-height: 0px;
                        line-height: 1em;

                        &,
                        &:focus,
                        &:active,
                        &:visited {
                            outline: none;
                            border: none;
                            box-shadow: none;

                        }

                        resize: none;
                    }
                }


            }

            #TheForm {
                padding: 0;
                margin: 0;

                .payment-method-container {
                    padding: 7px 10px;

                    //   background-color: #d4cbea;
                    .max-width-retencion {
                        max-width: 130px;
                    }

                }

                .payment-discount-container {
                    @media screen and (min-width:576px) {
                        max-width: 210px;
                        background-color: #d4cbea;
                    }
                }




                .previous-image-container {
                    width: 100%;
                    text-align: center;
                    background-color: #d4cbea;
                    padding: 0;

                    img {
                        background-color: #65529e;
                        width: 100%;
                        /* El ancho que quieras */
                        aspect-ratio: 369 / 522;
                        /* Relación de aspecto (ancho / alto) */
                        object-fit: cover;
                        padding: 3px;

                        &[src="#empty"] {
                            opacity: 0;
                        }
                    }


                }

                footer {
                    height: 52px;
                    background: color.adjust($barColor, $lightness: -2%);
                    //background: darken($barColor, 2%);

                }
            }


        }


        /* =============================================
       RESET básico
    ============================================= */


        body {

            background: #f0f2f5;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            padding: 20px;
        }

        .contenedor {
            background: #ffffff;
            padding: 40px 30px;

            @include css3-prefix('border-radius', 15px);
            box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
            max-width: 500px;
            width: 100%;
        }

        .contenedor h2 {
            text-align: center;
            font-weight: 500;
            color: #1e1e2f;
            margin-bottom: 30px;
            letter-spacing: 0.3px;
        }

        .header-group-fields {
            color: $LabelColor;
            font-size: 12px;
            font-weight: normal;
            display: block;
            width: 100%;

        }

        .border-left {
            @media (min-width:576px) {
                border-left: 1px solid rgba(66, 37, 122, 0.349);
            }
        }



        .content-details-payments {

            & {
                min-height: 210px;
                margin-left: 0px !important;
                margin-right: 0px !important;
                @include css3-prefix('border-radius', 5px);
            }

            &.txt_disabled {
                opacity: 0.5;

                * {
                    pointer-events: none;
                }
            }


            [class*="box-"] {
                padding: 0;
                margin: 0;

                .group-color {
                    margin: 0;
                    border: 0px solid #000;
                    background-color: #fff;
                    @include css3-prefix('border-radius', 5px);
                    overflow: hidden;

                    &:not(:first-child) {
                        margin-top: 15px;
                    }
                }


                &.box-details-payments {
                    padding: 0 7px;

                    #Dynacmic-table-eli {
                        border: #65529e 3px solid;
                    }
                }


            }



        }







    }

    /* =============================================
       RESPONSIVE
    ============================================= */

    @media screen and (max-width: 575px) {
        body {
            & {
                font-size: 14px;
                align-content: flex-start;
            }
        }

        .form-receipt {
            height: auto;
        }

        .header-svg {
            margin: 0 auto 15px auto;
        }

        .roc,
        .content-date-time {
            padding: 15px 10px;
            max-width: 160px;

            input,
            textarea {

                @include css3-prefix('appearance', none);
                background-color: transparent;

                color: #f9bd0e;

                padding: 0;
                font-size: 1.5em;
                height: 43px !important;
            }
        }

        .roc {
            * {
                text-align: left !important;
            }

        }

        .content-date-time {
            * {
                text-align: right !important;
            }
        }





        .checkbox-boton {
            padding: 12px 16px;
            font-size: 15px;

            .check-icon {
                width: 22px;
                height: 22px;
            }

            .check-icon svg {
                width: 15px;
                height: 15px;
            }
        }
    }

    @media screen and (min-width: 576px) {
        body {
            font-size: 18px;
            align-content: center;
        }






        .roc,
        .content-date-time {


            input,
            textarea {

                font-size: 1.3em;

            }
        }

        .roc {
            * {
                text-align: center;
            }
        }

        .content-date-time {
            * {
                text-align: right;

            }


        }
    }
}

.logoEli {
    background-image: url($logoELI);
    background-repeat: no-repeat;

    &.header-align {
        background-position: 3mm 8mm;
        background-size: 20mm;

    }
}