$width: 8.5in;
$height: 11in;

@mixin Border-Radius ($radius) {
    -webkit-border-radius: $radius; // Safari, iOS, Android
    -moz-border-radius: $radius; // Firefox antiguo
    -ms-border-radius: $radius; // IE antiguo
    -o-border-radius: $radius; // Opera antiguo
    border-radius: $radius; // estándar
}

@mixin Page-Orientation ($type ) {
    @if($type=="page-letter-portrait") {
        size: 8.5in 11in;
    }

    @if($type=="page-letter-landscape") {
        size: 11in 8.5in;
    }

    @else if($type=="page-legal-portrait") {
        size: 8.5in 14in;
    }

    @else if($type=="page-legal-landscape") {
        size: 14in 8.5in;
    }

    /*==========*/
    @else if($type=="html-letter-portrait") {
        width: 8.5in;
        height: 11in;
    }

    @else if($type=="html-letter-landscape") {
        width: 11in;
        height: 8.5in;
    }

    @else if($type=="html-legal") {
        width: 8.5in;
        height: 14in;
    }
}

@page {
    @include Page-Orientation("page-letter-portrait");
    margin: 0;
    //padding: 5mm;
}

html,
body {
    margin: 0;
    padding: 0;
    line-height: 1em;
    height: 100dvh;
    width: 100dvw;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 25px;
    font-style: normal;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.content-pages {
    & {
        display: block;
        //outline: red solid 2px;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .pages {
        //transform: scale(0.75);
        transform-origin: top;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        [class*="page-"] {
            &{
                overflow: hidden
            }
            &.letter-portrait {
                &,.inner-page{
                    @include Page-Orientation("html-letter-portrait");
                }
            }
            &.letter-landscape {
                &,.inner-page{
                    @include Page-Orientation("html-letter-landscape");
                }
            }

            & {
                margin: 0 0 15px 0;
                background-color: #fff;
                //outline: green solid 2px;
                position: relative;
            }

            .center {
                position: absolute;
                display: block;
                width: 0px;
                height: 0px;

                .inner-page {
                   // background-color: aquamarine;
                    padding: 5mm;
                    display: block;
                    position: relative;

                    h1 {
                        margin: 0 0 5px 0;
                        font-size: 1em;
                    }
                }
            }
        }
    }
}

@media screen {
    .allcontent {
        display: flex;
        background-color: #131c26;
        width: 100dvw;
        height: 100dvh;
        margin: 0;
        padding: 0 0 0 calc(280px);
        position: relative;

        // @include Page-Orientation("html-letter-landscape");
        .sidebar-left {
            & {
                flex: 0 0 auto;
                position: absolute;
                left: 0;
                top: 0;
                width: 280px;
                height: 100dvh;
                background-color: #252c33;
                flex: 0 0 auto;
            }

            .boxs-configuration {
                display: block;
                width: 100%;
                height: 100vh;
                overflow: auto;

                .box {
                    & {
                        padding: 7px;
                    }

                    span,
                    caption-box {
                        color: #fff;
                        font-size: 0.7em;
                        font-weight: 600;
                    }

                    span.message {
                        color: #fff;
                        display: block;
                        padding: 7px;
                        @include Border-Radius(6px);
                        background-color: #4a6de5;
                        font-size: 0.55em;
                        font-weight: 300;
                        line-height: 1.2em;
                        font-size: 0.5em;
                        margin: 5px 0 5px 15px;
                    }

                    .fields {
                        & {
                            display: flex;
                            flex-wrap: nowrap;
                            padding: 5px 0;
                        }

                        .label,
                        .value {
                            flex: 0 0 auto;
                        }

                        .label {
                            font-size: 0.55em;
                            padding: 0 0 0 15px;
                            color: #818181;
                            width: 180px;
                        }

                        .value {
                            font-size: 0.6em;
                            width: calc(100% - 180px);

                            input[type="number"],
                            input[type="text"],
                            select {
                                appearance: none;
                                display: block;
                                width: 100%;
                                height: 30px;
                                padding: 5px 10px;
                                border-radius: 5px;
                                background-color: #3d3d3d;
                                color: #fff;

                                &,
                                &:hover,
                                &:active,
                                &:focus {
                                    border: none;
                                    outline: none;
                                }
                            }

                            [type="range"] {
                                display: block;
                                width: 100%;
                            }

                            .background {
                                border-radius: 5px;
                                background-color: #3d3d3d;
                                color: #fff;
                                border-radius: 5px;
                                display: block;
                                width: 100%;
                                height: 30px;
                            }
                        }
                    }
                }
            }
        }
    }

    .content-pages {
        & {
            overflow-x: overlay;
            overflow-y: overlay;
        }

        .pages {
            [class*="page-"] {
                & {
                    box-shadow: -1px 12px 33px -12px rgba(0, 0, 0, 0.75);
                    -webkit-box-shadow: -1px 12px 33px -12px rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: -1px 12px 33px -12px rgba(0, 0, 0, 0.75);
                }
            }
        }
    }
}

@media print {
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
        color-adjust: exact
    }

    body {
        background: white !important;
    }

    html,
    body {
        @include Page-Orientation("html-letter");
    }

    .allcontent {
        background: transparent;
        padding: 0;
    }

    .sidebar-left {
        display: none;
        visibility: hidden;
    }

    .content-pages {
        .pages {
            [class*="page-"] {
                margin: 0;

                /*&.letter-portrait {
                    @include Page-Orientation("html-letter-landscape");

                    .center {
                        bottom: 0px;
                        transform: rotate(270deg);
                    }
                }*/
                &.letter-landscape {
                    @include Page-Orientation("html-letter-portrait");
                    .center {
                        bottom: 0px;
                        transform: rotate(270deg);
                    }
                }
            }
        }
    }

    .break {
        display: block;
        page-break-before: always;
        break-before: page;
    }
}

/*
.content-pages {
    & {
        display: block;
        outline: red solid 2px;
        width: 100%;
        height: 100%;
        position: relative;

        svg {
            background-color: bisque;
        }
    }

    .pages {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        [class*="page-"] {
            & {
                background-color: #fff;
                position: relative;

                &:nth-child(1) {
                    background: green;
                }
            }

            .center {
                & {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    display: block;
                    width: 0px;
                    height: 0px;
                    outline: red 3px solid;
                }

                .inner-page {
                    padding: 5mm;
                    display: block;
                    position: relative;

                    h1 {
                        margin: 0 0 5px 0;
                        font-size: 1em;
                    }
                }
            }

            &.letter-landscape {

                &,
                .inner-page {
                    @include Page-Orientation("html-letter-landscape");
                }
            }

            &.letter-portrait {
                & {
                    @media screen {
                        @include Page-Orientation("html-letter-portrait");
                    }
                }

                .inner-page {
                    @media screen {
                        @include Page-Orientation("html-letter-portrait");
                    }
                }
            }

            &.legal-landscape,
            .legal-portrait {

                &,
                .inner-page {
                    @include Page-Orientation("html-legal");
                }
            }
        }
    }
}*/