body {
    // background-image: linear-gradient(to left top, #051937, #003e6a, #00667e, #008c62, #0eac07);
    /*background: #4261cf;
    background: -moz-linear-gradient(45deg, #3023ae 0%, #53a0fd 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #3023ae), color-stop(100%, #53a0fd));
    background: -webkit-linear-gradient(45deg, #3023ae 0%, #53a0fd 100%);
    background: -o-linear-gradient(45deg, #3023ae 0%, #53a0fd 100%);
    background: -ms-linear-gradient(45deg, #3023ae 0%, #53a0fd 100%);
    background: linear-gradient(45deg, #3023ae 0%, #53a0fd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gradient-start', endColorstr='$gradient-end', GradientType=1);
    color: white;
*/
    font-size: 15px;

    background: linear-gradient(345deg, #010b41 0%, #0cae07 100%) fixed;

    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;

    * {

        line-height: 1em;
    }
}

*,
::after,
::before {
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
}

/*
@function allbrowser($prop, $val) {
    -webkit-{$prop}: 5px;
    {$prop}: 5px;
    -moz-{$prop}: 5px;
    -khtml-{$prop}: 5px;

    .noto-sans-<uniquifier> {
  font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
  }*/

* {
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {}

.sticky {

    &.show {
        display: block !important;
    }

    & {
        max-width: 100% !important;
        display: none;
        background-color: #043c30;
        position: fixed !important;
        width: 100%;
        top: 0;
        z-index: 999;
    }

    .boxs {


        .box {
            margin-bottom: 0 !important;
        }
    }

    img {
        aspect-ratio: 1/1;
        max-width: 60px;
    }

    .col-1-3 {
        width: 20% !important;
    }

    .col-2-3 {
        width: 80% !important;
    }
}

@mixin allbrowser($prop, $val) {


    #{$prop}: 5px;
    -webkit-#{$prop}: 5px;
    -moz-#{$prop}: 5px;
    -khtml-#{$prop}: 5px;
}

.background-black {
    background-color: rgba(0, 0, 0, 0.153);

}


.fluid {
    padding: 0 !important;
    max-width: 100% !important;
}

.sub-title {
    font-size: 0.7em;
}

.without-padding {
    padding: 0 !important;
}

.text-color-white {
    color: #fff;
}

.img-flex-top {
    display: block;
    width: 100%;
    height: auto;
    border: #fff 5px solid;
    object-fit: cover;
    aspect-ratio: 2 / 3;
}

.align-items-start {
    align-items: flex-start !important;
}

.align-items-center {
    align-items: center !important;
}

.align-items-end {
    align-items: flex-end !important;
}

.italic {
    font-style: italic;

}

.text-shadow {
    text-shadow: 5px 5px 10px #000000;
}

.mask-black {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background: rgb(0, 0, 0);
        background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0.09576330532212884) 6%, rgba(0, 0, 0, 0.5551470588235294) 64%);
        background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.09576330532212884) 6%, rgba(0, 0, 0, 0.5551470588235294) 64%);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.09576330532212884) 6%, rgba(0, 0, 0, 0.5551470588235294) 64%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
        z-index: 1;

    }

    &::after {
        content: '';
        position: absolute;
        background-image: var(--background-imgen);
        background-position: center;
        //background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    * {
        position: relative;
        z-index: 2;
    }
}

h1 {

    margin: 0 0 5px 0;
    font-weight: 400;
    font-size: clamp(20px, 4.5vw, 35px);


}

h2 {
    display: inline-block;
    width: 100%;
    margin: 0 0 5px 0;
    font-weight: 300;
    font-size: clamp(18px, 3vw, 22px)
}

p {
    font-weight: 100;
    line-height: 1.4em;
    font-size: clamp(15px, 3vw, 18px)
}

.boxs {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 14px;





    .box {

        & {
            padding: 7px 7px;

            margin-bottom: 15px;
        }

        &.border-radius {
            @include allbrowser(border-radius, 5px);
            -khtml-background-clip: padding;
            -webkit-background-clip: padding-box;
            -moz-background-clip: padding;
            background-clip: padding-box;
        }

        .row {
            & {
                display: flex;
                width: 100%;
                flex-wrap: wrap;
            }

            &> {
                flex-shrink: 0;
                width: 100%;
                max-width: 100%;
            }

            [class*="col-"] {
                padding: 0 3px;
            }

            .col-12 {
                width: 100%;
                flex: 0 0 auto;
            }

            .col-1-3 {
                width: 33.33333333333333%;
                flex: 0 0 auto;
            }

            .col-2-3 {
                width: 66.66666666666667%;
                flex: 0 0 auto;
            }
        }
    }

}

@import "owl.carousel";
@import "owl.theme.default";