body {
  /*background: #4261cf;
    background: -moz-linear-gradient(45deg, #3023ae 0%, #53a0fd 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #3023ae), color-stop(100%, #53a0fd));
    background: -webkit-linear-gradient(45deg, #3023ae 0%, #53a0fd 100%);
    background: -o-linear-gradient(45deg, #3023ae 0%, #53a0fd 100%);
    background: -ms-linear-gradient(45deg, #3023ae 0%, #53a0fd 100%);
    background: linear-gradient(45deg, #3023ae 0%, #53a0fd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gradient-start', endColorstr='$gradient-end', GradientType=1);
    color: white;
*/
  font-size: 15px;
  background: linear-gradient(345deg, #010b41 0%, #0cae07 100%) fixed;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body * {
  line-height: 1em;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}

/*
@function allbrowser($prop, $val) {
    -webkit-{$prop}: 5px;
    {$prop}: 5px;
    -moz-{$prop}: 5px;
    -khtml-{$prop}: 5px;

    .noto-sans-<uniquifier> {
  font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
  }*/
* {
  font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.show-scroll {
  height: 50vh;
  max-height: 200px;
  overflow: auto;
}

.show-scroll p {
  padding: 0 7px;
}

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #E99B2C #DFE9EB;
}*/
/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #E99B2C;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #D28B28;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #D28B28;
}

.title-sticky {
  position: sticky;
  background: #08741c;
  top: 0;
  z-index: 1;
  padding: 5px;
}

/*
.sticky-02 {


    top: 0;
    z-index: 2;
}

.sticky-03 {


    top: 0;
    z-index: 3;
}
*/
.sticky.show {
  display: block !important;
}

.sticky {
  backdrop-filter: blur(2px);
  max-width: 100% !important;
  display: none;
  background-color: rgba(4, 60, 48, 0.467);
  position: fixed !important;
  width: 100%;
  top: 0;
  z-index: 999;
}

.sticky .box {
  margin-bottom: 0 !important;
}

.sticky img {
  aspect-ratio: 1/1;
  max-width: 60px;
  border-width: 3px !important;
}

.sticky .col-1-3 {
  width: 60px !important;
}

.sticky .col-2-3 {
  width: calc(100% - 60px) !important;
}

.background-black {
  background-color: rgba(0, 0, 0, 0.153);
}

.fluid {
  padding: 0 !important;
  max-width: 100% !important;
}

.sub-title {
  font-size: 0.7em;
}

.without-padding {
  padding: 0 !important;
}

.text-color-white,
.text-color-white * {
  color: #fff;
}

.img-flex-top {
  display: block;
  width: 100%;
  height: auto;
  border: #fff 5px solid;
  object-fit: cover;
  aspect-ratio: 2 / 3;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.separator {
  margin-bottom: 15px;
}

.italic {
  font-style: italic;
}

.text-shadow {
  text-shadow: 5px 5px 10px #000000;
}

.mask-black {
  position: relative;
}

.mask-black::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0.0957633) 6%, rgba(0, 0, 0, 0.555147) 64%);
  background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.0957633) 6%, rgba(0, 0, 0, 0.555147) 64%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0957633) 6%, rgba(0, 0, 0, 0.555147) 64%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
  z-index: 1;
}

.mask-black::after {
  content: '';
  position: absolute;
  background-image: var(--background-imgen);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.mask-black * {
  position: relative;
  z-index: 2;
}

h1 {
  margin: 0 0 5px 0;
  font-weight: 400;
  font-size: clamp(20px, 4.5vw, 35px);
}

.padding-left {
  padding-left: 15px !important;
}

h2 {
  display: inline-block;
  width: 100%;
  margin: 0 0 5px 0;
  font-weight: 300;
  font-size: clamp(18px, 3vw, 22px);
}

p {
  font-weight: 100;
  line-height: 1.4em;
  font-size: clamp(15px, 3vw, 18px);
}

.boxs {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 14px;
}

.boxs .box {
  padding: 7px 7px;
  margin-bottom: 15px;
}

.boxs .box.border-radius {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -khtml-background-clip: padding;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.boxs .box .row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.boxs .box .row > {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}

.boxs .box .row [class*="col-"] {
  padding: 0 3px;
}

.boxs .box .row .col-12 {
  width: 100%;
  flex: 0 0 auto;
}

.boxs .box .row .col-1-3 {
  width: 33.33333333333333%;
  flex: 0 0 auto;
}

.boxs .box .row .col-2-3 {
  width: 66.66666666666667%;
  flex: 0 0 auto;
}

.boxs .box .row .col-left {
  width: 60px;
  flex: 0 0 auto;
}

.boxs .box .row .col-right {
  width: calc(100% - 60px);
  flex: 0 0 auto;
}

/* ICONS*/
.icon * {
  color: #fff;
}

.icon {
  border-radius: 200px;
  border: 1px solid rgba(255, 255, 255, 0.342);
  padding: 0 !important;
  margin: 0 !important;
  width: 48px !important;
  height: 48px !important;
  line-height: 0em;
}

.icon span {
  transform: translate(2px, 3px);
  background-color: #fff;
  width: 40px !important;
  height: 40px !important;
}

.riego {
  display: inline-block;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath fill='%23000' d='M9.81 15.25c0 .92.23 1.78.7 2.57s1.1 1.43 1.9 1.9s1.66.71 2.59.71s1.8-.24 2.61-.71a5.3 5.3 0 0 0 1.92-1.9c.47-.8.71-1.65.71-2.57c0-.6-.17-1.31-.52-2.14s-.77-1.6-1.26-2.3c-.44-.57-.96-1.2-1.56-1.88s-1.65-1.73-1.89-1.97l-1.28 1.29c-.62.6-1.22 1.29-1.79 2.08s-1.07 1.64-1.49 2.55c-.44.91-.64 1.7-.64 2.37'/%3E%3C/svg%3E");
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  mask-position: 1px center;
}

[class*="flat-icon-"] {
  display: inline-block;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  mask-position: 1px center;
}

.flat-icon-altitude {
  --svg: url("data:image/svg+xml,%3Csvg%20width%3D%22150%22%20height%3D%22150%22%20viewBox%3D%220%200%2039.687%2039.688%22%20xml%3Aspace%3D%22preserve%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M10.063%2034.311c-.404-.092-.915-.335-1.484-.707-.279-.182-.375-.208-.753-.208-.373%200-.479.028-.763.205-.433.269-.557.303-.904.251-.218-.032-.354-.106-.542-.295-.62-.62-.333-1.427.677-1.905%201.117-.53%202.454-.456%203.41.187.67.452.67.452%201.153.452.445%200%20.48-.012.91-.306.584-.4.986-.565%201.594-.654.89-.13%201.778.093%202.534.636.665.478%201.208.467%201.95-.04.646-.439%201.21-.611%202.003-.611.792%200%201.356.172%202.002.612.743.506%201.286.517%201.951.039a3.502%203.502%200%200%201%202.584-.63c.58.09%201.04.283%201.559.655.639.458%201.182.44%201.924-.064.689-.467%201.162-.61%202-.608.767.002%201.28.141%201.84.497.603.385.833.942.595%201.443-.184.388-.499.586-.932.587-.307.001-.422-.035-.717-.225-.312-.2-.401-.226-.785-.226-.38%200-.473.026-.753.21-1.543%201.015-2.961%201.05-4.332.104-.441-.305-.47-.314-.926-.314s-.485.01-.926.314c-1.371.945-2.789.911-4.332-.104-.28-.184-.374-.21-.752-.21-.379%200-.473.026-.753.21-1.543%201.016-2.914%201.05-4.314.111-.464-.311-.494-.321-.947-.321-.453%200-.482.01-.923.314-.86.593-1.913.815-2.848.601zm-3.959-5.189c4.627-6.424%205.745-7.952%205.903-8.07.257-.191.87-.191%201.127%200%20.253.189%202.946%203.938%202.891%204.027-.024.04-.875%201.217-1.892%202.618l-1.85%202.546H5.297zm8.317%200c4.627-6.424%205.745-7.952%205.903-8.07.137-.102.279-.136.563-.136s.427.034.564.137c.158.117%201.276%201.645%205.902%208.069l.808%201.121H13.614zm15.393%201.018c-.111-.055-.744-.647-1.407-1.316-1.01-1.019-1.212-1.255-1.25-1.458-.074-.39.015-.679.293-.958.435-.434.957-.431%201.455.007l.3.264V13.007l-.3.264c-.498.44-1.02.442-1.455.007-.278-.278-.366-.566-.294-.959.038-.206.238-.437%201.323-1.522%201.377-1.378%201.45-1.426%202.01-1.323.206.038.436.238%201.52%201.323%201.085%201.085%201.286%201.316%201.324%201.522.072.393-.016.68-.295.96-.434.434-.956.431-1.454-.008l-.3-.264V26.68l.3-.264c.498-.439%201.02-.441%201.454-.007.279.279.367.567.294.958-.038.203-.24.44-1.251%201.46-.664.669-1.302%201.262-1.418%201.317a.99.99%200%200%201-.849-.003zm.008-21.835a2.163%202.163%200%200%201-.357-.253c-.537-.488-1.107-.688-1.962-.688-.682%200-.946-.097-1.21-.443-.229-.3-.249-.878-.04-1.157.309-.415.411-.448%201.381-.446.99.002%201.522.122%202.237.5l.373.199.374-.198c.645-.341%201.2-.478%202.1-.517.938-.041%201.174.026%201.477.424.25.328.25.867%200%201.195-.265.347-.527.443-1.217.443-.881%200-1.295.157-2.112.806-.294.233-.752.293-1.044.135z%22%2F%3E%3C%2Fsvg%3E");
}

.floracion {
  display: inline-block;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23000' d='M26.23 19.766c2.47-.8 3.96-3.19 3.76-5.68a.53.53 0 0 0-.43-.47s-.89-.19-1.09-.23c-.1-.02-.14-.15-.08-.22c.13-.14.75-.84.75-.84c.16-.17.19-.44.07-.64c-1.29-2.13-3.9-3.19-6.38-2.38c-.71.23-1.33.65-1.87 1.18c.34-.68.54-1.39.54-2.14c0-2.6-1.81-4.76-4.24-5.33a.56.56 0 0 0-.59.26s-.46.79-.56.97c-.05.09-.19.08-.23.01c-.1-.17-.56-.98-.56-.98c-.12-.2-.36-.32-.58-.26c-2.42.56-4.24 2.72-4.24 5.32c0 .75.21 1.46.54 2.14c-.54-.53-1.15-.94-1.86-1.17c-2.48-.81-5.09.25-6.38 2.38c-.12.2-.09.46.07.64c0 0 .61.68.75.83c.07.07.02.21-.07.23l-1.1.23c-.23.05-.41.24-.43.47a5.48 5.48 0 0 0 3.76 5.68c.72.23 1.46.26 2.22.14c-.68.35-1.28.81-1.72 1.42c-1.53 2.1-1.33 4.91.3 6.8c.15.18.41.23.63.13c0 0 .83-.37 1.02-.46c.09-.04.2.04.19.13l-.12 1.12c-.02.23.1.47.32.56c2.3.96 5.03.28 6.56-1.82c.44-.61.69-1.3.82-2.05c.13.75.38 1.45.82 2.05c1.53 2.1 4.26 2.78 6.56 1.82c.22-.09.34-.32.32-.56c0 0-.1-.91-.12-1.11c-.01-.1.1-.18.19-.14l1.03.46c.21.1.48.05.63-.13c1.63-1.89 1.83-4.7.3-6.8c-.44-.61-1.04-1.06-1.72-1.42c.76.12 1.5.09 2.22-.14m-8.396-1.145l.753 1.04q.05-.006.103-.006a1 1 0 1 1-.914.592l-.752-1.039a2.46 2.46 0 0 1-2.033-.002l-.758 1.043a1 1 0 1 1-.809-.588l.759-1.043a2.46 2.46 0 0 1-.629-1.933l-1.225-.397a1 1 0 1 1 .309-.951l1.224.397a2.47 2.47 0 0 1 1.648-1.198v-1.284a1 1 0 1 1 1 0v1.284c.705.145 1.3.59 1.646 1.196l1.215-.394a1 1 0 1 1 .31.95l-1.216.396q.015.134.015.271c0 .642-.245 1.227-.646 1.666'/%3E%3C/svg%3E");
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  mask-position: 1px center;
}

.altitude {
  --svg: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3C!--%20Created%20with%20Inkscape%20(http%3A%2F%2Fwww.inkscape.org%2F)%20--%3E%3Csvg%20%20%20width%3D%22150%22%20%20%20height%3D%22150%22%20%20%20viewBox%3D%220%200%2039.687499%2039.6875%22%20%20%20version%3D%221.1%22%20%20%20id%3D%22svg1%22%20%20%20xml%3Aspace%3D%22preserve%22%20%20%20inkscape%3Aversion%3D%221.3%20(0e150ed6c4%2C%202023-07-21)%22%20%20%20sodipodi%3Adocname%3D%22altitude.svg%22%20%20%20xmlns%3Ainkscape%3D%22http%3A%2F%2Fwww.inkscape.org%2Fnamespaces%2Finkscape%22%20%20%20xmlns%3Asodipodi%3D%22http%3A%2F%2Fsodipodi.sourceforge.net%2FDTD%2Fsodipodi-0.dtd%22%20%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20%20%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Csodipodi%3Anamedview%20%20%20%20%20id%3D%22namedview1%22%20%20%20%20%20pagecolor%3D%22%23ffffff%22%20%20%20%20%20bordercolor%3D%22%23000000%22%20%20%20%20%20borderopacity%3D%220.25%22%20%20%20%20%20inkscape%3Ashowpageshadow%3D%222%22%20%20%20%20%20inkscape%3Apageopacity%3D%220.0%22%20%20%20%20%20inkscape%3Apagecheckerboard%3D%220%22%20%20%20%20%20inkscape%3Adeskcolor%3D%22%23d1d1d1%22%20%20%20%20%20inkscape%3Adocument-units%3D%22mm%22%20%20%20%20%20inkscape%3Azoom%3D%220.71713643%22%20%20%20%20%20inkscape%3Acx%3D%2274.602262%22%20%20%20%20%20inkscape%3Acy%3D%22227.99009%22%20%20%20%20%20inkscape%3Awindow-width%3D%221920%22%20%20%20%20%20inkscape%3Awindow-height%3D%221001%22%20%20%20%20%20inkscape%3Awindow-x%3D%22-9%22%20%20%20%20%20inkscape%3Awindow-y%3D%22-9%22%20%20%20%20%20inkscape%3Awindow-maximized%3D%221%22%20%20%20%20%20inkscape%3Acurrent-layer%3D%22layer1%22%20%2F%3E%3Cdefs%20%20%20%20%20id%3D%22defs1%22%20%2F%3E%3Cg%20%20%20%20%20inkscape%3Alabel%3D%22Layer%201%22%20%20%20%20%20inkscape%3Agroupmode%3D%22layer%22%20%20%20%20%20id%3D%22layer1%22%3E%3Cpath%20%20%20%20%20%20%20style%3D%22fill%3A%23000000%3Bstroke-width%3A0.24562%22%20%20%20%20%20%20%20d%3D%22M%2010.063288%2C34.311039%20C%209.658833%2C34.218559%209.148726%2C33.975561%208.579713%2C33.60431%208.300755%2C33.422305%208.204623%2C33.395668%207.826749%2C33.395668%20c%20-0.37305%2C0%20-0.4789608%2C0.02846%20-0.7629973%2C0.205095%20C%206.6307983%2C33.86999%206.5067777%2C33.904495%206.1593922%2C33.852386%205.9414635%2C33.819691%205.8057741%2C33.745807%205.617134%2C33.557104%204.9974225%2C32.937186%205.2841881%2C32.130512%206.2943589%2C31.652062%207.411697%2C31.122852%208.748445%2C31.196265%209.703655%2C31.839299%20c%200.671211%2C0.451848%200.670083%2C0.451408%201.153202%2C0.451408%200.445019%2C0%200.480155%2C-0.01181%200.909667%2C-0.305893%200.584727%2C-0.400345%200.986324%2C-0.564973%201.594856%2C-0.653784%200.890501%2C-0.129966%201.777562%2C0.0927%202.533468%2C0.635947%200.665014%2C0.477922%201.208009%2C0.467035%201.951134%2C-0.03913%200.645606%2C-0.439736%201.209384%2C-0.612106%202.002038%2C-0.612106%200.792651%2C0%201.356433%2C0.17237%202.002038%2C0.612106%200.743297%2C0.50628%201.286094%2C0.517068%201.951605%2C0.0388%200.757937%2C-0.544701%201.682346%2C-0.769972%202.584135%2C-0.629728%200.580396%2C0.09025%201.039395%2C0.283118%201.558056%2C0.654647%200.639328%2C0.457964%201.182009%2C0.440029%201.924725%2C-0.06361%200.688527%2C-0.466887%201.161988%2C-0.610871%202.00007%2C-0.608239%200.766549%2C0.0025%201.28033%2C0.141433%201.839225%2C0.497678%200.603406%2C0.384619%200.833425%2C0.941532%200.595781%2C1.44249%20-0.183985%2C0.387847%20-0.499216%2C0.586345%20-0.932691%2C0.587311%20-0.307086%2C7.55e-4%20-0.421205%2C-0.03519%20-0.716861%2C-0.225355%20-0.311625%2C-0.200437%20-0.400923%2C-0.226171%20-0.784814%2C-0.226171%20-0.379154%2C0%20-0.473059%2C0.02624%20-0.752966%2C0.210367%20-1.543145%2C1.015133%20-2.961027%2C1.04905%20-4.331789%2C0.10362%20-0.441558%2C-0.304546%20-0.469389%2C-0.313982%20-0.9262%2C-0.313982%20-0.456811%2C0%20-0.484643%2C0.0095%20-0.926197%2C0.313982%20-1.370763%2C0.945434%20-2.788647%2C0.911518%20-4.331794%2C-0.10362%20-0.279784%2C-0.18405%20-0.373891%2C-0.210367%20-0.752323%2C-0.210367%20-0.378433%2C0%20-0.472539%2C0.02632%20-0.752324%2C0.210367%20-1.543753%2C1.015532%20-2.914175%2C1.050817%20-4.314356%2C0.111091%20-0.463603%2C-0.311147%20-0.493968%2C-0.321458%20-0.946781%2C-0.321458%20-0.45305%2C0%20-0.482187%2C0.0099%20-0.923053%2C0.313982%20-0.859658%2C0.592918%20-1.912774%2C0.815277%20-2.848218%2C0.601389%20z%20M%206.1046859%2C29.122063%20c%204.6266001%2C-6.423645%205.7446601%2C-7.952253%205.9022011%2C-8.069472%200.257578%2C-0.191653%200.869891%2C-0.191693%201.127557%2C-7e-5%200.25297%2C0.18813%202.945652%2C3.937876%202.891327%2C4.026375%20-0.02412%2C0.03928%20-0.875939%2C1.217342%20-1.892943%2C2.617904%20l%20-1.849095%2C2.546475%20H%208.790435%205.2971384%20Z%20m%208.3169761%2C0%20c%204.626601%2C-6.423645%205.744661%2C-7.952253%205.902202%2C-8.069472%200.137378%2C-0.102212%200.278964%2C-0.1365%200.563778%2C-0.1365%200.284814%2C0%200.4264%2C0.03429%200.563778%2C0.1365%200.157542%2C0.117219%201.275602%2C1.645827%205.902202%2C8.069472%20l%200.807548%2C1.121212%20h%20-7.273528%20-7.273526%20z%20m%2015.39262%2C1.018301%20c%20-0.111398%2C-0.05497%20-0.744761%2C-0.647153%20-1.407474%2C-1.315951%20-1.009679%2C-1.018946%20-1.212304%2C-1.255293%20-1.250414%2C-1.458514%20-0.07323%2C-0.390447%200.01526%2C-0.678817%200.293861%2C-0.957491%200.434168%2C-0.434313%200.956196%2C-0.43177%201.454595%2C0.007%20l%200.299767%2C0.263953%20v%20-6.835776%20-6.835814%20l%20-0.299767%2C0.263952%20c%20-0.498399%2C0.438854%20-1.020427%2C0.441396%20-1.454595%2C0.007%20-0.278444%2C-0.278537%20-0.366747%2C-0.565985%20-0.294512%2C-0.958717%200.03804%2C-0.2068%200.238551%2C-0.437527%201.323001%2C-1.522337%201.377573%2C-1.3780283%201.450729%2C-1.4262143%202.009156%2C-1.3234373%200.206732%2C0.03805%200.437386%2C0.23863%201.521833%2C1.3234373%201.084452%2C1.08481%201.28497%2C1.315537%201.323005%2C1.522337%200.07223%2C0.392732%20-0.01607%2C0.68018%20-0.294515%2C0.958717%20-0.434168%2C0.43431%20-0.956192%2C0.431767%20-1.454591%2C-0.007%20L%2031.28386%2C13.007771%20v%206.835814%206.835816%20l%200.299772%2C-0.26393%20c%200.498399%2C-0.438852%201.020423%2C-0.441396%201.454591%2C-0.007%200.278588%2C0.278678%200.36709%2C0.567044%200.293865%2C0.957494%20-0.03812%2C0.203232%20-0.240866%2C0.439696%20-1.251592%2C1.459701%20-0.663356%2C0.669447%20-1.301139%2C1.262291%20-1.417293%2C1.317427%20-0.267016%2C0.12675%20-0.588727%2C0.125739%20-0.848921%2C-0.0026%20z%20m%200.0076%2C-21.8346193%20c%20-0.107179%2C-0.05772%20-0.267991%2C-0.171509%20-0.357331%2C-0.252869%20-0.53634%2C-0.488418%20-1.107018%2C-0.688823%20-1.961505%2C-0.688823%20-0.682025%2C0%20-0.945711%2C-0.096514%20-1.209761%2C-0.4428227%20-0.228874%2C-0.3001646%20-0.249373%2C-0.8779758%20-0.04106%2C-1.1570897%200.309471%2C-0.4146395%200.412029%2C-0.4477011%201.381995%2C-0.4455264%200.988817%2C0.0022%201.521876%2C0.1215017%202.236424%2C0.5004548%20l%200.37362%2C0.1981419%200.373612%2C-0.1976986%20c%200.645136%2C-0.341376%201.200013%2C-0.4781226%202.099526%2C-0.517419%200.9386%2C-0.041008%201.174298%2C0.026752%201.477843%2C0.424853%200.249977%2C0.3278428%200.249977%2C0.8664423%200%2C1.194284%20-0.264931%2C0.347458%20-0.527149%2C0.4428227%20-1.217599%2C0.4428227%20-0.880782%2C0%20-1.294178%2C0.15782%20-2.111316%2C0.806028%20-0.294365%2C0.233508%20-0.752201%2C0.292979%20-1.044411%2C0.135664%20z%22%20%20%20%20%20%20%20id%3D%22path1%22%20%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.sol {
  display: inline-block;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath fill='%23000' d='M4.37 14.62c0-.24.08-.45.25-.62c.17-.16.38-.24.6-.24h2.04c.23 0 .42.08.58.25c.15.17.23.37.23.61s-.07.44-.22.61s-.35.25-.58.25H5.23c-.23 0-.43-.08-.6-.25a.83.83 0 0 1-.26-.61m2.86 6.93c0-.23.08-.43.23-.61l1.47-1.43c.15-.16.35-.23.59-.23s.44.08.6.23s.24.34.24.57c0 .24-.08.46-.24.64L8.7 22.14q-.615.48-1.23 0a.8.8 0 0 1-.24-.59m0-13.84c0-.23.08-.43.23-.61c.2-.17.41-.25.64-.25c.22 0 .42.08.59.24l1.43 1.47c.16.15.24.35.24.59q0 .36-.24.6c-.24.24-.36.24-.6.24s-.44-.08-.59-.24L7.47 8.32a.84.84 0 0 1-.24-.61m2.55 6.91c0-.93.23-1.8.7-2.6s1.1-1.44 1.91-1.91s1.67-.7 2.6-.7c.7 0 1.37.14 2.02.42c.64.28 1.2.65 1.66 1.12c.47.47.84 1.02 1.11 1.66s.41 1.32.41 2.02c0 .94-.23 1.81-.7 2.61s-1.1 1.43-1.9 1.9s-1.67.7-2.61.7s-1.81-.23-2.61-.7s-1.43-1.1-1.9-1.9c-.45-.81-.69-1.68-.69-2.62m1.7 0c0 .98.34 1.81 1.03 2.5c.68.69 1.51 1.04 2.49 1.04s1.81-.35 2.5-1.04s1.04-1.52 1.04-2.5c0-.96-.35-1.78-1.04-2.47c-.69-.68-1.52-1.02-2.5-1.02c-.97 0-1.8.34-2.48 1.02c-.7.69-1.04 1.51-1.04 2.47m2.66 7.78c0-.24.08-.44.25-.6s.37-.24.6-.24c.24 0 .45.08.61.24s.24.36.24.6v1.99c0 .24-.08.45-.25.62s-.37.25-.6.25s-.44-.08-.6-.25a.85.85 0 0 1-.25-.62zm0-15.5V4.86c0-.23.08-.43.25-.6S14.76 4 15 4s.43.08.6.25s.25.37.25.6V6.9c0 .23-.08.42-.25.58s-.37.23-.6.23s-.44-.08-.6-.23s-.26-.35-.26-.58m5.52 13.18c0-.23.08-.42.23-.56c.15-.16.34-.23.56-.23c.24 0 .44.08.6.23l1.46 1.43c.16.17.24.38.24.61s-.08.43-.24.59q-.6.465-1.2 0l-1.42-1.42a.97.97 0 0 1-.23-.65m0-10.92c0-.25.08-.45.23-.59l1.42-1.47a.84.84 0 0 1 .59-.24c.24 0 .44.08.6.25c.17.17.25.37.25.6c0 .25-.08.46-.24.62l-1.46 1.43q-.27.24-.6.24c-.23 0-.41-.08-.56-.24s-.23-.36-.23-.6m2.26 5.46c0-.24.08-.44.24-.62q.24-.24.57-.24h2.02c.23 0 .43.09.6.26s.26.37.26.6s-.09.43-.26.6s-.37.25-.6.25h-2.02c-.23 0-.43-.08-.58-.25s-.23-.36-.23-.6'/%3E%3C/svg%3E");
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  mask-position: 1px center;
}

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item .owl-lazy[src^=""],
.owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("../images/owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none;
}

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}
