body {
    // background-image: linear-gradient(to left top, #051937, #003e6a, #00667e, #008c62, #0eac07);
    /*background: #4261cf;
    background: -moz-linear-gradient(45deg, #3023ae 0%, #53a0fd 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #3023ae), color-stop(100%, #53a0fd));
    background: -webkit-linear-gradient(45deg, #3023ae 0%, #53a0fd 100%);
    background: -o-linear-gradient(45deg, #3023ae 0%, #53a0fd 100%);
    background: -ms-linear-gradient(45deg, #3023ae 0%, #53a0fd 100%);
    background: linear-gradient(45deg, #3023ae 0%, #53a0fd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gradient-start', endColorstr='$gradient-end', GradientType=1);
    color: white;
*/
    font-size: 15px;

    background: linear-gradient(345deg, #010b41 0%, #0cae07 100%) fixed;

    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;

    * {

        line-height: 1em;
    }
}

*,
::after,
::before {
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
}

/*
@function allbrowser($prop, $val) {
    -webkit-{$prop}: 5px;
    {$prop}: 5px;
    -moz-{$prop}: 5px;
    -khtml-{$prop}: 5px;

    .noto-sans-<uniquifier> {
  font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
  }*/

* {
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.show-scroll {
    height: 50vh;
    max-height: 200px;
    overflow: auto;

    p {
        padding: 0 7px;
    }

    /* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
    /** {
  scrollbar-width: thin;
  scrollbar-color: #E99B2C #DFE9EB;
}*/

    /* Chrome, Edge and Safari */
    &::-webkit-scrollbar {
        height: 10px;
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 4px;
        background-color: #DFE9EB;
    }

    &::-webkit-scrollbar-button {
        width: 12px;
        height: 12px;
    }

    &::-webkit-scrollbar-track:hover {
        background-color: #B8C0C2;
    }

    &::-webkit-scrollbar-track:active {
        background-color: #B8C0C2;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #E99B2C;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #D28B28;
    }

    &::-webkit-scrollbar-thumb:active {
        background-color: #D28B28;
    }
}



.title-sticky {
    position: sticky;
    background: #08741c;
    top: 0;
    z-index: 1;
    padding: 5px;
    // position: -webkit-sticky;
}



/*
.sticky-02 {


    top: 0;
    z-index: 2;
}

.sticky-03 {


    top: 0;
    z-index: 3;
}
*/
.sticky {


    &.show {
        display: block !important;
    }

    & {
        backdrop-filter: blur(2px);
        max-width: 100% !important;
        display: none;
        background-color: rgba(4, 60, 48, 0.467);
        position: fixed !important;
        width: 100%;
        top: 0;
        z-index: 999;
    }




    .box {
        margin-bottom: 0 !important;
    }


    img {
        aspect-ratio: 1/1;
        max-width: 60px;
        border-width: 3px !important;
    }

    .col-1-3 {
        width: 60px !important;
    }

    .col-2-3 {
        width: calc(100% - 60px) !important;
    }
}

@mixin allbrowser($prop, $val) {


    #{$prop}: 5px;
    -webkit-#{$prop}: 5px;
    -moz-#{$prop}: 5px;
    -khtml-#{$prop}: 5px;
}

.background-black {
    background-color: rgba(0, 0, 0, 0.153);

}


.fluid {
    padding: 0 !important;
    max-width: 100% !important;
}

.sub-title {
    font-size: 0.7em;
}

.without-padding {
    padding: 0 !important;
}

.text-color-white {

    &,
    * {
        color: #fff;
    }
}

.img-flex-top {
    display: block;
    width: 100%;
    height: auto;
    border: #fff 5px solid;
    object-fit: cover;
    aspect-ratio: 2 / 3;
}

.align-items-start {
    align-items: flex-start !important;
}

.align-items-center {
    align-items: center !important;
}

.align-items-end {
    align-items: flex-end !important;
}

.separator {
    margin-bottom: 15px;
    padding-bottom: 15px;

}

.italic {
    font-style: italic;

}

.text-shadow {
    text-shadow: 5px 5px 10px #000000;
}

.mask-black {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background: rgb(0, 0, 0);
        background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0.09576330532212884) 6%, rgba(0, 0, 0, 0.5551470588235294) 64%);
        background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.09576330532212884) 6%, rgba(0, 0, 0, 0.5551470588235294) 64%);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.09576330532212884) 6%, rgba(0, 0, 0, 0.5551470588235294) 64%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
        z-index: 1;

    }

    &::after {
        content: '';
        position: absolute;
        background-image: var(--background-imgen);
        background-position: center;
        //background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    * {
        position: relative;
        z-index: 2;
    }
}

h1 {

    margin: 0 0 5px 0;
    font-weight: 400;
    font-size: clamp(20px, 4.5vw, 35px);


}

.padding-15px {
    padding: 0 15px !important;
    padding-bottom: 15px;
}

h2 {
    display: inline-block;
    width: 100%;
    margin: 0 0 5px 0;
    font-weight: 300;
    font-size: clamp(18px, 3vw, 22px)
}

h3 {
    display: inline-block;
    width: 100%;
    margin: 0 0 5px 0;
    font-weight: 300;
    font-size: clamp(18px, 3vw, 22px)
}

p {
    font-weight: 100;
    line-height: 1.4em;
    font-size: clamp(15px, 3vw, 18px)
}

.boxs {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 14px;





    .box {

        & {
            padding: 7px 7px;

            margin-bottom: 15px;
        }

        &.border-radius {
            @include allbrowser(border-radius, 5px);
            -khtml-background-clip: padding;
            -webkit-background-clip: padding-box;
            -moz-background-clip: padding;
            background-clip: padding-box;
        }

        .row {
            & {
                display: flex;
                width: 100%;
                flex-wrap: wrap;
            }

            &> {
                flex-shrink: 0;
                width: 100%;
                max-width: 100%;
            }

            [class*="col-"] {
                padding: 0 3px;
            }

            .col-12 {
                width: 100%;
                flex: 0 0 auto;
            }

            .col-1-3 {
                width: 33.33333333333333%;
                flex: 0 0 auto;
            }

            .col-2-3 {
                width: 66.66666666666667%;
                flex: 0 0 auto;
            }

            .col-1-2 {
                width: 50%;
                flex: 0 0 auto;
            }



            .col-left {
                width: 50px !important;
                flex: 0 0 auto;


            }

            .col-right {
                width: calc(100% - 50px);
                flex: 0 0 auto;

            }
        }
    }

}

.box-icons {
    p {
        padding-bottom: 0 !important;
        margin: 0 !important;
    }

    .col-1-3>.row {
        height: 80px;

    }
}

@media all and (max-width:500px) {
    .col-1-2 {
        width: 100% !important;
    }



    .box-icons {
        p {
            padding-bottom: 0 !important;
            margin: 0 !important;
        }

        .col-1-3 {
            width: 50% !important;
        }

        &>.row .col-1-2 {
            .separator {
                position: relative;

                &::before {
                    content: '';
                    display: block;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    border-bottom: 1px rgba(255, 255, 255, 0.529) solid;
                    bottom: 0;
                }
            }

            &:nth-child(even) {
                .col-right {

                    text-align: right !important;
                }

                .col-left {
                    order: 1;
                }

                .col-right {
                    order: 0;

                }
            }
        }
    }

    /*.separator {
        position: relative;

        &::before {
            content: '';
            display: block;
            width: 100%;
            position: absolute;
            left: 0;
            border-bottom: 1px rgba(255, 255, 255, 0.529) solid;
            bottom: 0;
        }

        &:nth-child(even) {
            .col-right {

                text-align: right !important;
            }

            .col-left {
                order: 1;
            }

            .col-right {
                order: 0;

            }
        }

    }*/

}

/* ICONS*/
.icon {
    * {
        color: #fff;
    }



    & {
        border-radius: 200px;
        border: 1px solid rgba(255, 255, 255, 0.342);
        padding: 0 !important;
        margin: 0 !important;
        width: 48px !important;
        height: 48px !important;
        line-height: 0em;

    }

    span {
        transform: translate(8px, 8px);
        background-color: #fff;
        width: 30px !important;
        height: 30px !important;
    }
}





[class*="flat-icon-"] {
    display: inline-block;

    //--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23000' d='M26.23 19.766c2.47-.8 3.96-3.19 3.76-5.68a.53.53 0 0 0-.43-.47s-.89-.19-1.09-.23c-.1-.02-.14-.15-.08-.22c.13-.14.75-.84.75-.84c.16-.17.19-.44.07-.64c-1.29-2.13-3.9-3.19-6.38-2.38c-.71.23-1.33.65-1.87 1.18c.34-.68.54-1.39.54-2.14c0-2.6-1.81-4.76-4.24-5.33a.56.56 0 0 0-.59.26s-.46.79-.56.97c-.05.09-.19.08-.23.01c-.1-.17-.56-.98-.56-.98c-.12-.2-.36-.32-.58-.26c-2.42.56-4.24 2.72-4.24 5.32c0 .75.21 1.46.54 2.14c-.54-.53-1.15-.94-1.86-1.17c-2.48-.81-5.09.25-6.38 2.38c-.12.2-.09.46.07.64c0 0 .61.68.75.83c.07.07.02.21-.07.23l-1.1.23c-.23.05-.41.24-.43.47a5.48 5.48 0 0 0 3.76 5.68c.72.23 1.46.26 2.22.14c-.68.35-1.28.81-1.72 1.42c-1.53 2.1-1.33 4.91.3 6.8c.15.18.41.23.63.13c0 0 .83-.37 1.02-.46c.09-.04.2.04.19.13l-.12 1.12c-.02.23.1.47.32.56c2.3.96 5.03.28 6.56-1.82c.44-.61.69-1.3.82-2.05c.13.75.38 1.45.82 2.05c1.53 2.1 4.26 2.78 6.56 1.82c.22-.09.34-.32.32-.56c0 0-.1-.91-.12-1.11c-.01-.1.1-.18.19-.14l1.03.46c.21.1.48.05.63-.13c1.63-1.89 1.83-4.7.3-6.8c-.44-.61-1.04-1.06-1.72-1.42c.76.12 1.5.09 2.22-.14m-8.396-1.145l.753 1.04q.05-.006.103-.006a1 1 0 1 1-.914.592l-.752-1.039a2.46 2.46 0 0 1-2.033-.002l-.758 1.043a1 1 0 1 1-.809-.588l.759-1.043a2.46 2.46 0 0 1-.629-1.933l-1.225-.397a1 1 0 1 1 .309-.951l1.224.397a2.47 2.47 0 0 1 1.648-1.198v-1.284a1 1 0 1 1 1 0v1.284c.705.145 1.3.59 1.646 1.196l1.215-.394a1 1 0 1 1 .31.95l-1.216.396q.015.134.015.271c0 .642-.245 1.227-.646 1.666'/%3E%3C/svg%3E");

    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    mask-position: 1px center;
}

.flat-icon-riego {
    --svg: url("data:image/svg+xml,%3Csvg%20width%3D%22150%22%20height%3D%22150%22%20viewBox%3D%220%200%2039.687%2039.688%22%20xml%3Aspace%3D%22preserve%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20style%3D%22fill%3A%23000%3Bstroke-width%3A.215069%22%20d%3D%22M18.707%2032.115v-2.28h2.272v4.56h-2.272zm-7.07-3.258a7.447%207.447%200%200%201-2.763-.965c-.645-.389-.984-.663-1.539-1.24A7.016%207.016%200%200%201%205.71%2024.01c-.313-.893-.364-1.289-.393-3.057l-.025-1.614%203.91.022c3.718.02%203.936.027%204.422.14%202.903.674%204.984%202.79%205.623%205.717.088.404.2%202.922.126%202.85a17.28%2017.28%200%200%201-.385-.512c-.555-.758-1.164-1.443-2.049-2.31-1.164-1.139-2.287-2.017-3.79-2.96-1.121-.705-1.243-.749-1.505-.541-.117.091-.15.168-.15.342%200%20.26-.037.23%201.237%201.024%201.688%201.054%203.238%202.327%204.401%203.618.524.581%201.487%201.808%201.63%202.078l.063.117-3.396-.007c-1.867-.004-3.574-.03-3.793-.059zm-1.02-7.315c.281-.282.082-.772-.316-.772a.48.48%200%200%200-.454.456c0%20.235.221.456.454.456.111%200%20.228-.051.315-.14zm10.305%207.267c.146-.274%201.106-1.497%201.634-2.081%201.608-1.78%204.096-3.614%206.642-4.895.536-.27.641-.374.641-.634%200-.192-.236-.429-.427-.429-.285%200-2.302%201.116-3.605%201.994-2.05%201.381-3.928%203.156-5.251%204.962l-.272.37.029-1.197c.031-1.317.107-1.832.392-2.64.386-1.1.887-1.89%201.746-2.755.844-.85%201.72-1.406%202.775-1.758%201.118-.373.973-.362%205.259-.386l3.91-.022-.028%201.643c-.03%201.766-.065%202.03-.384%202.994-.35%201.057-.903%201.937-1.75%202.789-.853.856-1.72%201.403-2.799%201.765-1.062.357-.996.352-4.951.378l-3.625.023zm-1.9-10.014a4.213%204.213%200%200%201-3.077-2.729c-.137-.398-.157-.542-.159-1.14-.002-.735.107-1.227.4-1.807.21-.415%203.593-5.547%203.657-5.547.064%200%203.452%205.14%203.66%205.551.29.576.4%201.07.397%201.804-.001.596-.021.742-.158%201.14-.677%201.963-2.738%203.154-4.72%202.728zm1.407-1.816c.925-.242%201.584-.935%201.669-1.756.029-.285.018-.33-.115-.463-.192-.192-.45-.195-.637-.007a.491.491%200%200%200-.14.287c0%20.53-.705%201.112-1.347%201.112a.452.452%200%200%200-.33.14c-.3.3-.082.772.357.772.12%200%20.364-.038.543-.085zm-10.366-2.74c-.858-.208-1.757-.911-2.132-1.667a3.21%203.21%200%200%201%20.003-2.896c.222-.435%202.763-4.384%202.821-4.384.05%200%202.39%203.617%202.733%204.222.546.964.58%202.08.093%203.058-.244.491-.914%201.156-1.408%201.399-.696.34-1.43.434-2.11.269zm1.008-1.42a.43.43%200%200%200%200-.632.488.488%200%200%200-.286-.14c-.387%200-.846-.394-.912-.782-.062-.374-.088-.42-.286-.514-.18-.086-.209-.086-.392.002-.228.109-.287.27-.236.643.111.818.93%201.545%201.757%201.56a.433.433%200%200%200%20.355-.136zm17.167%201.42c-.858-.208-1.757-.911-2.133-1.667a3.21%203.21%200%200%201%20.004-2.896c.222-.435%202.763-4.384%202.821-4.384.05%200%202.39%203.617%202.733%204.222.423.748.543%201.565.344%202.353-.157.625-.396%201.034-.885%201.52-.788.783-1.864%201.1-2.884.853zm1.459-1.476c.58-.285%201.051-.99%201.051-1.573%200-.386-.339-.603-.671-.43-.178.092-.202.138-.264.505-.065.388-.524.782-.911.782-.081%200-.21.063-.286.14-.188.189-.185.447.007.64.133.134.177.145.461.115a2.18%202.18%200%200%200%20.613-.18z%22%2F%3E%3C%2Fsvg%3E");
}

.flat-icon-fragancia {
    --svg: url("data:image/svg+xml,%3Csvg%20width%3D%22150%22%20height%3D%22150%22%20viewBox%3D%220%200%2039.687%2039.688%22%20xml%3Aspace%3D%22preserve%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20style%3D%22fill%3A%23000%3Bstroke-width%3A.261382%22%20d%3D%22M31.466%2034.212c-.195-.251-.179-.417.066-.664.166-.17.245-.202.395-.166.611.147.54%201.014-.083%201.014a.418.418%200%200%201-.378-.184zm-11.798-.748c-1.181-1.281-2.033-3.002-2.324-4.694l-.102-.59.67-.706c.698-.735%201.292-1.573%201.676-2.363l.225-.463h.708l.223.46c.375.772%201.02%201.682%201.704%202.404l.65.687-.116.644c-.287%201.597-1.084%203.252-2.136%204.439-.7.79-.63.779-1.178.182zm-13.441-.493c-.512-.185-.932-.766-.935-1.294-.003-.376.31-.948.637-1.168.232-.155.355-.186.735-.186s.503.03.735.186c.327.22.64.792.637%201.168-.003.548-.48%201.173-1.01%201.322-.334.094-.474.09-.8-.028zm8.852.023c-.344-.194-.412-.565-.15-.814.456-.435%201.154.19.75.673-.15.18-.42.243-.6.141zm10.038-.414a.529.529%200%200%201-.044-.76.512.512%200%200%201%20.75.044c.163.21.174.298.067.536a.64.64%200%200%201-.502.325c-.05%200-.172-.065-.271-.145zm3.38-2.718c-1.506-.18-3.232-.862-4.36-1.725l-.335-.257-.042-1.111c-.043-1.132-.154-1.826-.436-2.725l-.156-.5.25-.247.25-.247.492.168c.27.093.733.22%201.027.281.611.128%202.06.242%202.449.192.292-.038.274-.054.76.681.939%201.42%201.476%203.125%201.506%204.78l.014.753-.447.01a8.544%208.544%200%200%201-.972-.053zm-18.035-.904a8.67%208.67%200%200%201%20.664-3.03c.285-.693.797-1.614%201.112-2.002l.19-.232%201.016-.04c1.154-.046%201.536-.107%202.581-.411.407-.119.747-.203.756-.188.008.015.103.126.211.247l.197.22-.145.441c-.299.912-.426%201.673-.467%202.794l-.041%201.1-.23.192a8.508%208.508%200%200%201-.79.53%208.735%208.735%200%200%201-4.175%201.272l-.92.04zm6.747-2.343c.026-.335.087-.844.135-1.131.092-.548.36-1.532.419-1.532.018%200%20.18.075.36.168.18.092.487.22.683.285l.355.118-.144.289c-.387.777-1.598%202.412-1.787%202.412-.044%200-.052-.217-.021-.61zm5.488.209c-.19-.22-.477-.582-.638-.804-.295-.407-.87-1.432-.823-1.468.013-.01.226-.09.471-.178.246-.088.545-.22.664-.293.12-.074.233-.11.25-.08.018.03.098.291.177.58.26.946.452%202.643.298%202.643-.03%200-.209-.18-.399-.4zm10.837-.805c-.336-.363-.04-.948.432-.853.264.054.366.16.42.436.092.463-.528.766-.852.417zm-27.758-.37c-.266-.343-.111-.75.317-.835.459-.09.757.538.412.866-.225.214-.549.2-.729-.032zm13.429-1.804c-1.69-.47-2.885-2.058-2.882-3.827.002-1.807%201.189-3.366%202.914-3.831.49-.133%201.444-.13%201.951.004%201.239.327%202.268%201.299%202.73%202.579.222.61.222%201.83%200%202.48-.428%201.256-1.493%202.27-2.73%202.596-.49.13-1.517.13-1.983%200zm2.11-1.529c.486-.244.96-.745%201.204-1.273.157-.34.184-.491.184-1.025%200-.543-.026-.685-.197-1.06-.232-.509-.776-1.066-1.262-1.294-.27-.127-.45-.153-1.048-.153-.691%200-.74.01-1.155.239-1.397.767-1.783%202.505-.847%203.81.266.371.595.623%201.09.835.342.146.482.166%201.015.145.512-.02.686-.058%201.015-.224zm-1.675-.487c-.423-.138-.937-.61-1.136-1.043-.584-1.27.492-2.806%201.864-2.663a1.903%201.903%200%200%201%201.516%202.726c-.403.834-1.38%201.26-2.244.98zm-6.588%201.153c0-.183%201.639-1.424%202.388-1.808l.293-.15.056.158c.275.777.38%201.037.432%201.07.27.169-.297.408-1.452.611-.795.14-1.717.204-1.717.12zm12.751-.045c-.67-.106-1.543-.338-1.64-.437-.038-.038-.002-.185.09-.367.084-.167.206-.46.271-.652.077-.225.156-.346.224-.34.298.023%202.349%201.494%202.554%201.83.064.105-.732.087-1.499-.034zm-14.365-.097c-1.204-.245-2.341-.713-3.29-1.353-.671-.454-1.69-1.336-1.69-1.464%200-.124.834-.916%201.381-1.311%201.126-.814%202.692-1.456%203.961-1.624l.362-.048.678.667a10.136%2010.136%200%200%200%202.359%201.72l.463.243v.66l-.492.25a10.034%2010.034%200%200%200-2.562%201.903c-.264.272-.496.491-.516.488a72.16%2072.16%200%200%201-.654-.131zm16.108-.512c-.653-.646-1.688-1.4-2.41-1.756l-.385-.19.012-.344.012-.345.559-.302c.948-.514%201.555-.97%202.418-1.818l.515-.507.56.1c1.68.299%203.246%201.091%204.64%202.346.257.232.467.461.467.51%200%20.147-.954.993-1.649%201.462a8.794%208.794%200%200%201-2.233%201.1c-.525.176-1.497.395-1.74.391-.062%200-.407-.292-.766-.647zm-2.986-3.682a5.997%205.997%200%200%200-.283-.694%203.033%203.033%200%200%201-.166-.366c0-.066.93-.325%201.51-.42.322-.054.848-.116%201.17-.138l.583-.041-.486.471c-.486.47-1.093.913-1.824%201.33l-.387.221zm-9.64-.143a12.07%2012.07%200%200%201-1.303-.957l-.6-.522.379-.022c.637-.036%202.104.213%202.779.473l.173.067-.17.324a5.037%205.037%200%200%200-.287.699c-.064.205-.15.374-.193.374-.042%200-.392-.196-.779-.435zm1.626-1.585c-.495-.292-2.946-.683-3.723-.593l-.355.042-.222-.303c-1.101-1.505-1.804-3.65-1.804-5.507v-.482l.807.047c1.798.104%203.575.723%204.89%201.702l.44.326.014.87c.017%201.01.171%202.01.441%202.867l.19.604-.251.25c-.279.275-.27.27-.427.177zm6.88-.17-.23-.242.182-.611c.305-1.019.4-1.607.44-2.711l.038-1.055.626-.417c.82-.546%201.342-.807%202.193-1.092.877-.294%201.808-.454%202.635-.454h.64v.574c-.001%201.656-.64%203.664-1.625%205.1l-.334.488-1.064.044c-1.08.046-1.995.204-2.792.482a4.157%204.157%200%200%201-.433.135c-.025%200-.148-.109-.276-.242zM17.72%2015.9c-.256-.681-.475-1.93-.475-2.707v-.487l.359.41c.518.593.896%201.115%201.21%201.675.41.731.41.714.067.807a4.522%204.522%200%200%200-.694.284l-.398.204zm4.64.038c-.114-.074-.414-.203-.669-.287l-.462-.152.28-.526c.154-.29.413-.714.576-.944.332-.468.982-1.219%201.054-1.219.072%200%20.015%201.003-.094%201.672-.103.63-.37%201.604-.438%201.596a1.432%201.432%200%200%201-.247-.14zm-2.826-1.19c-.408-.8-.987-1.598-1.697-2.339l-.552-.575.088-.539c.178-1.085.711-2.463%201.33-3.442.288-.454.991-1.34%201.287-1.622l.22-.21.515.558a9.524%209.524%200%200%201%202.314%204.7l.101.592-.587.6c-.692.708-1.356%201.625-1.719%202.374l-.26.537-.358.002-.357.002zm13.676-1.064a.508.508%200%200%201%20.359-.874c.218%200%20.502.296.502.523%200%20.232-.286.522-.515.522-.098%200-.254-.077-.346-.171zm-26.75-2.07c-.242-.264-.174-.626.15-.796.513-.269%201%20.398.582.797-.21.199-.548.198-.731-.001zm25.493-3.093c-.933-.471-1.233-1.677-.629-2.524.35-.488.788-.706%201.42-.706%201.109%200%201.893%201.076%201.578%202.165-.3%201.039-1.422%201.543-2.369%201.065zM27.07%207.127c-.184-.237-.18-.39.019-.625.317-.374.869-.166.869.33%200%20.458-.605.66-.888.295zm-11.991-.87c-.344-.194-.412-.565-.15-.814.456-.435%201.154.19.75.673-.15.18-.42.244-.6.141z%22%2F%3E%3C%2Fsvg%3E");
}

.flat-icon-altitude {
    --svg: url("data:image/svg+xml,%3Csvg%20width%3D%22150%22%20height%3D%22150%22%20viewBox%3D%220%200%2039.687%2039.688%22%20xml%3Aspace%3D%22preserve%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M10.063%2034.311c-.404-.092-.915-.335-1.484-.707-.279-.182-.375-.208-.753-.208-.373%200-.479.028-.763.205-.433.269-.557.303-.904.251-.218-.032-.354-.106-.542-.295-.62-.62-.333-1.427.677-1.905%201.117-.53%202.454-.456%203.41.187.67.452.67.452%201.153.452.445%200%20.48-.012.91-.306.584-.4.986-.565%201.594-.654.89-.13%201.778.093%202.534.636.665.478%201.208.467%201.95-.04.646-.439%201.21-.611%202.003-.611.792%200%201.356.172%202.002.612.743.506%201.286.517%201.951.039a3.502%203.502%200%200%201%202.584-.63c.58.09%201.04.283%201.559.655.639.458%201.182.44%201.924-.064.689-.467%201.162-.61%202-.608.767.002%201.28.141%201.84.497.603.385.833.942.595%201.443-.184.388-.499.586-.932.587-.307.001-.422-.035-.717-.225-.312-.2-.401-.226-.785-.226-.38%200-.473.026-.753.21-1.543%201.015-2.961%201.05-4.332.104-.441-.305-.47-.314-.926-.314s-.485.01-.926.314c-1.371.945-2.789.911-4.332-.104-.28-.184-.374-.21-.752-.21-.379%200-.473.026-.753.21-1.543%201.016-2.914%201.05-4.314.111-.464-.311-.494-.321-.947-.321-.453%200-.482.01-.923.314-.86.593-1.913.815-2.848.601zm-3.959-5.189c4.627-6.424%205.745-7.952%205.903-8.07.257-.191.87-.191%201.127%200%20.253.189%202.946%203.938%202.891%204.027-.024.04-.875%201.217-1.892%202.618l-1.85%202.546H5.297zm8.317%200c4.627-6.424%205.745-7.952%205.903-8.07.137-.102.279-.136.563-.136s.427.034.564.137c.158.117%201.276%201.645%205.902%208.069l.808%201.121H13.614zm15.393%201.018c-.111-.055-.744-.647-1.407-1.316-1.01-1.019-1.212-1.255-1.25-1.458-.074-.39.015-.679.293-.958.435-.434.957-.431%201.455.007l.3.264V13.007l-.3.264c-.498.44-1.02.442-1.455.007-.278-.278-.366-.566-.294-.959.038-.206.238-.437%201.323-1.522%201.377-1.378%201.45-1.426%202.01-1.323.206.038.436.238%201.52%201.323%201.085%201.085%201.286%201.316%201.324%201.522.072.393-.016.68-.295.96-.434.434-.956.431-1.454-.008l-.3-.264V26.68l.3-.264c.498-.439%201.02-.441%201.454-.007.279.279.367.567.294.958-.038.203-.24.44-1.251%201.46-.664.669-1.302%201.262-1.418%201.317a.99.99%200%200%201-.849-.003zm.008-21.835a2.163%202.163%200%200%201-.357-.253c-.537-.488-1.107-.688-1.962-.688-.682%200-.946-.097-1.21-.443-.229-.3-.249-.878-.04-1.157.309-.415.411-.448%201.381-.446.99.002%201.522.122%202.237.5l.373.199.374-.198c.645-.341%201.2-.478%202.1-.517.938-.041%201.174.026%201.477.424.25.328.25.867%200%201.195-.265.347-.527.443-1.217.443-.881%200-1.295.157-2.112.806-.294.233-.752.293-1.044.135z%22%2F%3E%3C%2Fsvg%3E");
}

.flat-icon-floracion {

    //   --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23000' d='M26.23 19.766c2.47-.8 3.96-3.19 3.76-5.68a.53.53 0 0 0-.43-.47s-.89-.19-1.09-.23c-.1-.02-.14-.15-.08-.22c.13-.14.75-.84.75-.84c.16-.17.19-.44.07-.64c-1.29-2.13-3.9-3.19-6.38-2.38c-.71.23-1.33.65-1.87 1.18c.34-.68.54-1.39.54-2.14c0-2.6-1.81-4.76-4.24-5.33a.56.56 0 0 0-.59.26s-.46.79-.56.97c-.05.09-.19.08-.23.01c-.1-.17-.56-.98-.56-.98c-.12-.2-.36-.32-.58-.26c-2.42.56-4.24 2.72-4.24 5.32c0 .75.21 1.46.54 2.14c-.54-.53-1.15-.94-1.86-1.17c-2.48-.81-5.09.25-6.38 2.38c-.12.2-.09.46.07.64c0 0 .61.68.75.83c.07.07.02.21-.07.23l-1.1.23c-.23.05-.41.24-.43.47a5.48 5.48 0 0 0 3.76 5.68c.72.23 1.46.26 2.22.14c-.68.35-1.28.81-1.72 1.42c-1.53 2.1-1.33 4.91.3 6.8c.15.18.41.23.63.13c0 0 .83-.37 1.02-.46c.09-.04.2.04.19.13l-.12 1.12c-.02.23.1.47.32.56c2.3.96 5.03.28 6.56-1.82c.44-.61.69-1.3.82-2.05c.13.75.38 1.45.82 2.05c1.53 2.1 4.26 2.78 6.56 1.82c.22-.09.34-.32.32-.56c0 0-.1-.91-.12-1.11c-.01-.1.1-.18.19-.14l1.03.46c.21.1.48.05.63-.13c1.63-1.89 1.83-4.7.3-6.8c-.44-.61-1.04-1.06-1.72-1.42c.76.12 1.5.09 2.22-.14m-8.396-1.145l.753 1.04q.05-.006.103-.006a1 1 0 1 1-.914.592l-.752-1.039a2.46 2.46 0 0 1-2.033-.002l-.758 1.043a1 1 0 1 1-.809-.588l.759-1.043a2.46 2.46 0 0 1-.629-1.933l-1.225-.397a1 1 0 1 1 .309-.951l1.224.397a2.47 2.47 0 0 1 1.648-1.198v-1.284a1 1 0 1 1 1 0v1.284c.705.145 1.3.59 1.646 1.196l1.215-.394a1 1 0 1 1 .31.95l-1.216.396q.015.134.015.271c0 .642-.245 1.227-.646 1.666'/%3E%3C/svg%3E");
    --svg: url("data:image/svg+xml,%3Csvg%20width%3D%22150%22%20height%3D%22150%22%20viewBox%3D%220%200%2039.687%2039.688%22%20xml%3Aspace%3D%22preserve%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20style%3D%22fill%3A%23000%3Bstroke-width%3A.217671%22%20d%3D%22M19.4%2034.363a2.024%202.024%200%200%201-.913-.524c-.357-.347-.756-1.153-.955-1.929-.183-.711-.372-1.073-.712-1.366-.356-.305-.705-.448-1.256-.514a5.772%205.772%200%200%201-.698-.122c-.553-.162-.957-.77-.902-1.356.035-.374.137-.59.396-.837.275-.262.523-.356%201.089-.413%201.142-.115%201.765-.691%201.979-1.832.3-1.6.728-2.894%201.228-3.712l.278-.455.015%203.682.015%203.683h1.748l.015-3.683.015-3.682.278.455c.5.818.928%202.112%201.228%203.712.11.583.28.932.608%201.253.345.337.768.515%201.385.583.59.066.873.19%201.15.507a1.261%201.261%200%200%201%20.001%201.71c-.279.318-.47.398-1.16.487-.661.084-1.04.235-1.41.563-.311.273-.5.647-.678%201.337-.3%201.174-.853%202.023-1.512%202.324-.308.14-.932.206-1.231.13zM6.209%2023.603c-.374-.072-.753-.254-.86-.413-.374-.557%201.139-1.498%203.556-2.21%202.676-.79%206.174-1.297%208.28-1.202.776.035.777.035.564.272-.226.25-.6.788-.753%201.083-.11.21-.174.25-.781.503-2.001.83-5.156%201.656-7.415%201.94-.728.092-2.176.107-2.591.027zm24.593-.029c-2.11-.287-4.79-.965-6.735-1.704-.95-.36-1.302-.532-1.341-.653-.05-.154-.559-.903-.78-1.148l-.187-.208.134-.041c.201-.063%202.262-.043%202.99.03%201.596.158%203.316.459%204.915.86%202.481.622%204.25%201.458%204.546%202.15.076.178.073.208-.029.343-.061.08-.267.21-.456.286-.316.127-.434.14-1.395.154-.684.01-1.262-.015-1.662-.069zM19.71%2018.728c-1.169-1.93-1.658-8.687-.857-11.844.23-.905.655-1.592.985-1.592.323%200%20.764.712.986%201.592.607%202.412.495%207.252-.235%2010.123-.226.892-.62%201.878-.75%201.878-.02%200-.077-.07-.13-.157zm-5.19-.888c-1.1-.718-2.54-1.936-3.47-2.934-1.513-1.624-2.222-2.83-2.279-3.878-.038-.696.074-.997.536-1.447.429-.417.733-.536%201.371-.535%201.066.002%202.41.74%204.116%202.26.68.606%201.797%201.777%201.933%202.025.036.067.11.57.162%201.118.126%201.308.438%203.014.648%203.543.038.095%200%20.1-.564.068a13.348%2013.348%200%200%200-1.316.012l-.712.046zm9.488.234a13.139%2013.139%200%200%200-1.305-.014c-.565.031-.602.027-.564-.068.252-.636.729-3.489.73-4.375.001-.21.048-.287.449-.74%201.07-1.205%202.493-2.445%203.548-3.088%201.092-.666%202.09-.897%202.836-.656.435.141.981.674%201.126%201.1.164.482.107%201.157-.151%201.779-.649%201.564-2.59%203.706-4.862%205.365-1.07.781-.99.75-1.807.697z%22%2F%3E%3C%2Fsvg%3E");
}

.flat-icon-plaga {
    --svg: url("data:image/svg+xml,%3Csvg%20width%3D%22150%22%20height%3D%22150%22%20viewBox%3D%220%200%2039.687%2039.688%22%20xml%3Aspace%3D%22preserve%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20style%3D%22fill%3A%23000%3Bstroke-width%3A.256054%22%20d%3D%22M18.897%2034.322c-1.822-.414-3.266-1.962-3.559-3.811l-.045-.288h.238c.322%200%20.63.267.729.631.202.75.391.926.992.927h.356v.399c0%20.489.143.708.463.708.357%200%20.486-.18.486-.677v-.43h.813v.399c0%20.495.142.708.474.708.332%200%20.474-.213.474-.708v-.399h.813v.43c0%20.494.129.677.478.677.315%200%20.426-.162.458-.666l.028-.441h.334c.184%200%20.424-.046.533-.103.214-.11.405-.413.405-.642%200-.385.417-.813.792-.813h.232l-.047.322c-.075.52-.404%201.34-.74%201.845-.565.85-1.533%201.56-2.54%201.86-.532.16-1.625.195-2.167.072zm-1.659-3.574-.101-.329c-.105-.344-.503-.782-.884-.975a2.463%202.463%200%200%200-.788-.21c-.256-.025-.503-.076-.55-.113-.057-.044-.085-.272-.085-.69%200-.951-.085-1.132-.982-2.073-.798-.837-1.217-1.41-1.609-2.199-.778-1.567-.984-3.385-.568-5.014.082-.323.086-.326.486-.438.568-.157.782-.285%201.134-.676.358-.399.523-.824.523-1.353v-.377l.302-.124c.457-.188.874-.593%201.06-1.03l.163-.38.322.041c.487.062.503.076.545.488.108%201.05.932%201.836%201.995%201.905.583.038%201-.064%201.375-.335l.268-.194.267.194c.375.271.792.373%201.376.335%201.063-.07%201.886-.856%201.994-1.905.043-.412.059-.426.545-.488l.323-.04.162.38c.186.436.603.84%201.06%201.029l.302.124v.377c0%20.529.165.954.523%201.353.352.39.566.519%201.134.676.4.112.405.115.487.438.416%201.63.21%203.447-.569%205.014-.392.79-.81%201.362-1.608%202.199-.897.941-.983%201.122-.983%202.073%200%20.418-.028.646-.085.69-.046.037-.293.088-.548.113a2.844%202.844%200%200%200-.763.186c-.39.183-.818.674-.932%201.068-.075.257-.121.314-.27.332l-.18.022v-.504c0-.599-.145-.86-.479-.86-.355%200-.469.196-.469.813v.542h-.813v-.5c0-.59-.147-.855-.474-.855-.327%200-.474.265-.474.856v.499h-.813v-.542c0-.617-.114-.813-.47-.813-.332%200-.479.261-.479.856%200%20.488-.003.499-.171.499-.095%200-.184-.039-.199-.085zm4.479-3.544c.12-.12.164-.223.142-.338-.017-.09-.407-.821-.866-1.624-1.173-2.051-1.126-2.051-2.299%200-.459.803-.848%201.533-.865%201.624-.022.115.02.217.141.338l.174.173h3.4zm-5.566-3.046c.69-.112%201.449-.727%201.785-1.443.16-.34.18-.467.18-1.096%200-.681-.01-.73-.231-1.138-.58-1.071-1.747-1.623-2.837-1.344-.87.223-1.43.676-1.797%201.452-.192.405-.215.52-.215%201.064%200%20.54.023.66.209%201.05.37.783%201.137%201.371%201.94%201.49.356.052.454.049.966-.035zm8.792-.078c.355-.112.882-.48%201.16-.812.098-.118.262-.393.363-.61.157-.338.184-.485.185-1.005%200-.545-.022-.658-.214-1.064-.948-2.004-3.631-2.03-4.673-.046-.175.333-.192.427-.192%201.076%200%20.63.02.756.18%201.096.567%201.21%201.886%201.774%203.19%201.365zm-16.277.488c-.439-1.155-.317-3.318.274-4.846.175-.454.695-1.463.872-1.691l.129-.167.294.269c.161.147.362.314.446.37.149.099.15.109.05.474-.186.684-.27%201.866-.185%202.64.075.69.073.705-.099%201.045a6.045%206.045%200%200%201-1.125%201.582c-.262.27-.502.491-.534.491-.032%200-.087-.075-.122-.167zm21.701-.323a6.05%206.05%200%200%201-1.13-1.588c-.171-.34-.175-.37-.104-.915.091-.7.03-1.8-.14-2.562l-.13-.576.148-.102c.081-.055.28-.222.442-.37l.294-.268.129.167c.193.25.706%201.259.894%201.759.382%201.015.486%201.64.48%202.879-.003.924-.03%201.238-.133%201.587-.07.239-.161.445-.2.458-.04.013-.287-.198-.55-.469zm-19.035-6.494c-.223-.065-.702-.54-.702-.696%200-.05-.063-.173-.14-.271-.189-.24-.464-.233-.813.02-.15.11-.365.219-.475.243-.7.154-1.417-.426-1.417-1.146%200-.352.107-.57.442-.9.42-.415.412-.595-.045-.978-.192-.16-.39-.39-.44-.512-.236-.564-.014-1.214.51-1.49.407-.215.704-.2%201.209.059l.423.217.177-.132c.097-.073.233-.283.303-.467.117-.309.304-.58.35-.508.487.744.77%201.098%201.239%201.548.59.566%201.494%201.203%202.116%201.491.4.185.431.28.203.616-.23.337-.46.476-.885.534-.519.07-.682.222-.625.582.13.829.123.973-.058%201.282-.28.478-.806.672-1.372.508zm.173-2.091c.98-.5%201.001-1.945.037-2.491-.29-.165-.894-.21-1.209-.09-.457.175-.923.841-.922%201.32.001.475.416%201.112.846%201.3.313.136.944.116%201.248-.039zm15.942%202.021a1.097%201.097%200%200%201-.464-.44c-.18-.307-.186-.452-.057-1.28.056-.36-.107-.512-.626-.582-.424-.058-.655-.197-.884-.534-.229-.336-.198-.431.202-.616.623-.288%201.527-.925%202.117-1.491.468-.45.751-.804%201.238-1.548.047-.071.233.2.35.508.07.184.207.394.304.467l.177.132.423-.217c.505-.26.802-.274%201.208-.06.524.277.747.927.511%201.491-.05.121-.249.352-.44.512-.458.383-.466.563-.045.978.335.33.442.548.442.9%200%20.72-.717%201.3-1.417%201.146a1.648%201.648%200%200%201-.476-.243c-.349-.253-.624-.26-.812-.02-.077.098-.14.22-.14.27%200%20.172-.482.631-.736.702-.365.101-.553.085-.875-.075zm1.968-1.98c.31-.13.705-.595.798-.937.162-.602-.199-1.366-.774-1.639-.134-.063-.4-.11-.629-.109-1.47.004-1.913%201.973-.6%202.664.252.133.911.144%201.205.021zm-11.573.47c-.262-.113-.537-.439-.642-.757-.116-.35-.046-.721.21-1.12.182-.284.21-.373.157-.52-.062-.177-.151-.24-.657-.462-.53-.232-.796-.923-.593-1.54.18-.547.836-.868%201.452-.71.613.157.855.025.855-.465%200-.753.526-1.324%201.22-1.324s1.22.57%201.22%201.324c0%20.497.26.632.88.456.389-.111.787-.013%201.115.274.615.54.456%201.662-.281%201.985-.506.222-.596.285-.658.461-.051.147-.026.236.148.507.368.573.355%201.123-.039%201.591-.49.583-1.526.506-1.945-.143-.074-.116-.204-.228-.288-.25-.243-.062-.447.023-.593.25-.302.468-1.03.675-1.561.443zm2.528-1.77c.925-.387%201.213-1.523.575-2.268-.556-.65-1.431-.719-2.048-.162-.338.305-.486.63-.486%201.064%200%20.443.096.697.37.987.424.449%201.059.6%201.589.378zm-5.031-.68c-1.149-.4-2.085-1.001-2.926-1.877-.522-.544-1.104-1.427-1.006-1.525.085-.085.968-.013%201.497.123.572.146%201.614.616%202.084.939l.303.208-.005.56c-.006.627.122%201.007.497%201.481.245.309.205.317-.444.09zm8.565-.091c.37-.468.499-.85.496-1.478l-.003-.563.303-.208c.47-.323%201.512-.793%202.083-.94.53-.135%201.413-.207%201.498-.122.1.1-.49.988-1.033%201.55a7.197%207.197%200%200%201-2.928%201.856%205.26%205.26%200%200%201-.564.17c-.034%200%20.033-.119.148-.265zm-8.283-3.438c-.42-.53-.884-1.379-1.09-1.997-.168-.502-.345-1.468-.281-1.533.057-.057.93.387%201.352.688.566.405%201.407%201.3%201.808%201.927.414.645.425.757.075.757s-.935.18-1.227.38c-.132.089-.26.162-.286.162-.026%200-.184-.173-.351-.384zm7.809.221c-.293-.198-.877-.379-1.227-.379-.35%200-.34-.112.074-.757.73-1.14%202.09-2.298%203.04-2.593.153-.047.155-.04.113.313-.12%201.005-.622%202.218-1.274%203.073-.194.254-.382.472-.42.484-.036.012-.174-.05-.306-.14zm-4.515-2.451c.023-.295.121-.81.218-1.143.171-.59.608-1.527.71-1.527.104%200%20.54.937.711%201.527.097.333.195.848.218%201.143l.042.535-.163-.046c-.09-.025-.308-.078-.485-.118-.307-.068-.557-.042-1.13.118l-.162.046z%22%2F%3E%3C%2Fsvg%3E")
}

.altitude {
    --svg: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3C!--%20Created%20with%20Inkscape%20(http%3A%2F%2Fwww.inkscape.org%2F)%20--%3E%3Csvg%20%20%20width%3D%22150%22%20%20%20height%3D%22150%22%20%20%20viewBox%3D%220%200%2039.687499%2039.6875%22%20%20%20version%3D%221.1%22%20%20%20id%3D%22svg1%22%20%20%20xml%3Aspace%3D%22preserve%22%20%20%20inkscape%3Aversion%3D%221.3%20(0e150ed6c4%2C%202023-07-21)%22%20%20%20sodipodi%3Adocname%3D%22altitude.svg%22%20%20%20xmlns%3Ainkscape%3D%22http%3A%2F%2Fwww.inkscape.org%2Fnamespaces%2Finkscape%22%20%20%20xmlns%3Asodipodi%3D%22http%3A%2F%2Fsodipodi.sourceforge.net%2FDTD%2Fsodipodi-0.dtd%22%20%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20%20%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Csodipodi%3Anamedview%20%20%20%20%20id%3D%22namedview1%22%20%20%20%20%20pagecolor%3D%22%23ffffff%22%20%20%20%20%20bordercolor%3D%22%23000000%22%20%20%20%20%20borderopacity%3D%220.25%22%20%20%20%20%20inkscape%3Ashowpageshadow%3D%222%22%20%20%20%20%20inkscape%3Apageopacity%3D%220.0%22%20%20%20%20%20inkscape%3Apagecheckerboard%3D%220%22%20%20%20%20%20inkscape%3Adeskcolor%3D%22%23d1d1d1%22%20%20%20%20%20inkscape%3Adocument-units%3D%22mm%22%20%20%20%20%20inkscape%3Azoom%3D%220.71713643%22%20%20%20%20%20inkscape%3Acx%3D%2274.602262%22%20%20%20%20%20inkscape%3Acy%3D%22227.99009%22%20%20%20%20%20inkscape%3Awindow-width%3D%221920%22%20%20%20%20%20inkscape%3Awindow-height%3D%221001%22%20%20%20%20%20inkscape%3Awindow-x%3D%22-9%22%20%20%20%20%20inkscape%3Awindow-y%3D%22-9%22%20%20%20%20%20inkscape%3Awindow-maximized%3D%221%22%20%20%20%20%20inkscape%3Acurrent-layer%3D%22layer1%22%20%2F%3E%3Cdefs%20%20%20%20%20id%3D%22defs1%22%20%2F%3E%3Cg%20%20%20%20%20inkscape%3Alabel%3D%22Layer%201%22%20%20%20%20%20inkscape%3Agroupmode%3D%22layer%22%20%20%20%20%20id%3D%22layer1%22%3E%3Cpath%20%20%20%20%20%20%20style%3D%22fill%3A%23000000%3Bstroke-width%3A0.24562%22%20%20%20%20%20%20%20d%3D%22M%2010.063288%2C34.311039%20C%209.658833%2C34.218559%209.148726%2C33.975561%208.579713%2C33.60431%208.300755%2C33.422305%208.204623%2C33.395668%207.826749%2C33.395668%20c%20-0.37305%2C0%20-0.4789608%2C0.02846%20-0.7629973%2C0.205095%20C%206.6307983%2C33.86999%206.5067777%2C33.904495%206.1593922%2C33.852386%205.9414635%2C33.819691%205.8057741%2C33.745807%205.617134%2C33.557104%204.9974225%2C32.937186%205.2841881%2C32.130512%206.2943589%2C31.652062%207.411697%2C31.122852%208.748445%2C31.196265%209.703655%2C31.839299%20c%200.671211%2C0.451848%200.670083%2C0.451408%201.153202%2C0.451408%200.445019%2C0%200.480155%2C-0.01181%200.909667%2C-0.305893%200.584727%2C-0.400345%200.986324%2C-0.564973%201.594856%2C-0.653784%200.890501%2C-0.129966%201.777562%2C0.0927%202.533468%2C0.635947%200.665014%2C0.477922%201.208009%2C0.467035%201.951134%2C-0.03913%200.645606%2C-0.439736%201.209384%2C-0.612106%202.002038%2C-0.612106%200.792651%2C0%201.356433%2C0.17237%202.002038%2C0.612106%200.743297%2C0.50628%201.286094%2C0.517068%201.951605%2C0.0388%200.757937%2C-0.544701%201.682346%2C-0.769972%202.584135%2C-0.629728%200.580396%2C0.09025%201.039395%2C0.283118%201.558056%2C0.654647%200.639328%2C0.457964%201.182009%2C0.440029%201.924725%2C-0.06361%200.688527%2C-0.466887%201.161988%2C-0.610871%202.00007%2C-0.608239%200.766549%2C0.0025%201.28033%2C0.141433%201.839225%2C0.497678%200.603406%2C0.384619%200.833425%2C0.941532%200.595781%2C1.44249%20-0.183985%2C0.387847%20-0.499216%2C0.586345%20-0.932691%2C0.587311%20-0.307086%2C7.55e-4%20-0.421205%2C-0.03519%20-0.716861%2C-0.225355%20-0.311625%2C-0.200437%20-0.400923%2C-0.226171%20-0.784814%2C-0.226171%20-0.379154%2C0%20-0.473059%2C0.02624%20-0.752966%2C0.210367%20-1.543145%2C1.015133%20-2.961027%2C1.04905%20-4.331789%2C0.10362%20-0.441558%2C-0.304546%20-0.469389%2C-0.313982%20-0.9262%2C-0.313982%20-0.456811%2C0%20-0.484643%2C0.0095%20-0.926197%2C0.313982%20-1.370763%2C0.945434%20-2.788647%2C0.911518%20-4.331794%2C-0.10362%20-0.279784%2C-0.18405%20-0.373891%2C-0.210367%20-0.752323%2C-0.210367%20-0.378433%2C0%20-0.472539%2C0.02632%20-0.752324%2C0.210367%20-1.543753%2C1.015532%20-2.914175%2C1.050817%20-4.314356%2C0.111091%20-0.463603%2C-0.311147%20-0.493968%2C-0.321458%20-0.946781%2C-0.321458%20-0.45305%2C0%20-0.482187%2C0.0099%20-0.923053%2C0.313982%20-0.859658%2C0.592918%20-1.912774%2C0.815277%20-2.848218%2C0.601389%20z%20M%206.1046859%2C29.122063%20c%204.6266001%2C-6.423645%205.7446601%2C-7.952253%205.9022011%2C-8.069472%200.257578%2C-0.191653%200.869891%2C-0.191693%201.127557%2C-7e-5%200.25297%2C0.18813%202.945652%2C3.937876%202.891327%2C4.026375%20-0.02412%2C0.03928%20-0.875939%2C1.217342%20-1.892943%2C2.617904%20l%20-1.849095%2C2.546475%20H%208.790435%205.2971384%20Z%20m%208.3169761%2C0%20c%204.626601%2C-6.423645%205.744661%2C-7.952253%205.902202%2C-8.069472%200.137378%2C-0.102212%200.278964%2C-0.1365%200.563778%2C-0.1365%200.284814%2C0%200.4264%2C0.03429%200.563778%2C0.1365%200.157542%2C0.117219%201.275602%2C1.645827%205.902202%2C8.069472%20l%200.807548%2C1.121212%20h%20-7.273528%20-7.273526%20z%20m%2015.39262%2C1.018301%20c%20-0.111398%2C-0.05497%20-0.744761%2C-0.647153%20-1.407474%2C-1.315951%20-1.009679%2C-1.018946%20-1.212304%2C-1.255293%20-1.250414%2C-1.458514%20-0.07323%2C-0.390447%200.01526%2C-0.678817%200.293861%2C-0.957491%200.434168%2C-0.434313%200.956196%2C-0.43177%201.454595%2C0.007%20l%200.299767%2C0.263953%20v%20-6.835776%20-6.835814%20l%20-0.299767%2C0.263952%20c%20-0.498399%2C0.438854%20-1.020427%2C0.441396%20-1.454595%2C0.007%20-0.278444%2C-0.278537%20-0.366747%2C-0.565985%20-0.294512%2C-0.958717%200.03804%2C-0.2068%200.238551%2C-0.437527%201.323001%2C-1.522337%201.377573%2C-1.3780283%201.450729%2C-1.4262143%202.009156%2C-1.3234373%200.206732%2C0.03805%200.437386%2C0.23863%201.521833%2C1.3234373%201.084452%2C1.08481%201.28497%2C1.315537%201.323005%2C1.522337%200.07223%2C0.392732%20-0.01607%2C0.68018%20-0.294515%2C0.958717%20-0.434168%2C0.43431%20-0.956192%2C0.431767%20-1.454591%2C-0.007%20L%2031.28386%2C13.007771%20v%206.835814%206.835816%20l%200.299772%2C-0.26393%20c%200.498399%2C-0.438852%201.020423%2C-0.441396%201.454591%2C-0.007%200.278588%2C0.278678%200.36709%2C0.567044%200.293865%2C0.957494%20-0.03812%2C0.203232%20-0.240866%2C0.439696%20-1.251592%2C1.459701%20-0.663356%2C0.669447%20-1.301139%2C1.262291%20-1.417293%2C1.317427%20-0.267016%2C0.12675%20-0.588727%2C0.125739%20-0.848921%2C-0.0026%20z%20m%200.0076%2C-21.8346193%20c%20-0.107179%2C-0.05772%20-0.267991%2C-0.171509%20-0.357331%2C-0.252869%20-0.53634%2C-0.488418%20-1.107018%2C-0.688823%20-1.961505%2C-0.688823%20-0.682025%2C0%20-0.945711%2C-0.096514%20-1.209761%2C-0.4428227%20-0.228874%2C-0.3001646%20-0.249373%2C-0.8779758%20-0.04106%2C-1.1570897%200.309471%2C-0.4146395%200.412029%2C-0.4477011%201.381995%2C-0.4455264%200.988817%2C0.0022%201.521876%2C0.1215017%202.236424%2C0.5004548%20l%200.37362%2C0.1981419%200.373612%2C-0.1976986%20c%200.645136%2C-0.341376%201.200013%2C-0.4781226%202.099526%2C-0.517419%200.9386%2C-0.041008%201.174298%2C0.026752%201.477843%2C0.424853%200.249977%2C0.3278428%200.249977%2C0.8664423%200%2C1.194284%20-0.264931%2C0.347458%20-0.527149%2C0.4428227%20-1.217599%2C0.4428227%20-0.880782%2C0%20-1.294178%2C0.15782%20-2.111316%2C0.806028%20-0.294365%2C0.233508%20-0.752201%2C0.292979%20-1.044411%2C0.135664%20z%22%20%20%20%20%20%20%20id%3D%22path1%22%20%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.sol {
    display: inline-block;

    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath fill='%23000' d='M4.37 14.62c0-.24.08-.45.25-.62c.17-.16.38-.24.6-.24h2.04c.23 0 .42.08.58.25c.15.17.23.37.23.61s-.07.44-.22.61s-.35.25-.58.25H5.23c-.23 0-.43-.08-.6-.25a.83.83 0 0 1-.26-.61m2.86 6.93c0-.23.08-.43.23-.61l1.47-1.43c.15-.16.35-.23.59-.23s.44.08.6.23s.24.34.24.57c0 .24-.08.46-.24.64L8.7 22.14q-.615.48-1.23 0a.8.8 0 0 1-.24-.59m0-13.84c0-.23.08-.43.23-.61c.2-.17.41-.25.64-.25c.22 0 .42.08.59.24l1.43 1.47c.16.15.24.35.24.59q0 .36-.24.6c-.24.24-.36.24-.6.24s-.44-.08-.59-.24L7.47 8.32a.84.84 0 0 1-.24-.61m2.55 6.91c0-.93.23-1.8.7-2.6s1.1-1.44 1.91-1.91s1.67-.7 2.6-.7c.7 0 1.37.14 2.02.42c.64.28 1.2.65 1.66 1.12c.47.47.84 1.02 1.11 1.66s.41 1.32.41 2.02c0 .94-.23 1.81-.7 2.61s-1.1 1.43-1.9 1.9s-1.67.7-2.61.7s-1.81-.23-2.61-.7s-1.43-1.1-1.9-1.9c-.45-.81-.69-1.68-.69-2.62m1.7 0c0 .98.34 1.81 1.03 2.5c.68.69 1.51 1.04 2.49 1.04s1.81-.35 2.5-1.04s1.04-1.52 1.04-2.5c0-.96-.35-1.78-1.04-2.47c-.69-.68-1.52-1.02-2.5-1.02c-.97 0-1.8.34-2.48 1.02c-.7.69-1.04 1.51-1.04 2.47m2.66 7.78c0-.24.08-.44.25-.6s.37-.24.6-.24c.24 0 .45.08.61.24s.24.36.24.6v1.99c0 .24-.08.45-.25.62s-.37.25-.6.25s-.44-.08-.6-.25a.85.85 0 0 1-.25-.62zm0-15.5V4.86c0-.23.08-.43.25-.6S14.76 4 15 4s.43.08.6.25s.25.37.25.6V6.9c0 .23-.08.42-.25.58s-.37.23-.6.23s-.44-.08-.6-.23s-.26-.35-.26-.58m5.52 13.18c0-.23.08-.42.23-.56c.15-.16.34-.23.56-.23c.24 0 .44.08.6.23l1.46 1.43c.16.17.24.38.24.61s-.08.43-.24.59q-.6.465-1.2 0l-1.42-1.42a.97.97 0 0 1-.23-.65m0-10.92c0-.25.08-.45.23-.59l1.42-1.47a.84.84 0 0 1 .59-.24c.24 0 .44.08.6.25c.17.17.25.37.25.6c0 .25-.08.46-.24.62l-1.46 1.43q-.27.24-.6.24c-.23 0-.41-.08-.56-.24s-.23-.36-.23-.6m2.26 5.46c0-.24.08-.44.24-.62q.24-.24.57-.24h2.02c.23 0 .43.09.6.26s.26.37.26.6s-.09.43-.26.6s-.37.25-.6.25h-2.02c-.23 0-.43-.08-.58-.25s-.23-.36-.23-.6'/%3E%3C/svg%3E");

    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    mask-position: 1px center;
}

@import "owl.carousel";
@import "owl.theme.default";